batch_pdf_ingestion.json
{
  "name": "Batch PDF Ingestion - Klasor Yukleyici",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -800,
        0
      ],
      "id": "a1b2c3d4-0001-4000-8000-000000000001",
      "name": "Baslat"
    },
    {
      "parameters": {
        "jsCode": "// =====================================================\n// AYARLAR - HER KLASOR ICIN BURADAN DEGISTIR\n// =====================================================\n// Her calistirmada sadece BIR klasor yukle.\n// Bitince folderPath, collection, folderTag degistirip tekrar calistir.\n//\n// YUKLEME SIRASI (oneri):\n// 1) MACHINERY       -> ship_machinery\n// 2) ACCOMMODATION   -> ship_accommodation\n// 3) HULL PIPING     -> ship_hull_piping\n// 4) HULL OUTFITTING -> ship_hull_outfitting\n// 5) BWTS TRAINING   -> ship_bwts_training\n// 6) F               -> ship_f\n// 7) 8189 YARD DWG   -> ship_8189_yard_dwg\n// 8) BRIDGE_ EQUIPMENT -> ship_bridge_equipment  (en buyuk, en son)\n//\n// NOT: ELECTRIC ve CCR zaten yuklu, tekrar yuklemeyin!\n// =====================================================\n\nconst CONFIG = {\n  folderPath: \"D:/MANTA ANADOLU/MACHINERY/**/*.pdf\",\n  collection: \"ship_machinery\",\n  folderTag: \"MACHINERY\",\n  chunkSize: 1500,\n  chunkOverlap: 200\n};\n\nreturn [{ json: CONFIG }];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -480,
        0
      ],
      "id": "a1b2c3d4-0002-4000-8000-000000000002",
      "name": "CONFIG"
    },
    {
      "parameters": {
        "fileSelector": "={{ $json.folderPath }}",
        "options": {}
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1.1,
      "position": [
        -140,
        0
      ],
      "id": "a1b2c3d4-0003-4000-8000-000000000003",
      "name": "Tum PDF Oku"
    },
    {
      "parameters": {
        "batchSize": 1,
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        200,
        0
      ],
      "id": "a1b2c3d4-0004-4000-8000-000000000004",
      "name": "Tek Tek Yukle"
    },
    {
      "parameters": {
        "operation": "pdf",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1.1,
      "position": [
        540,
        0
      ],
      "id": "a1b2c3d4-0005-4000-8000-000000000005",
      "name": "PDF Text Cikar"
    },
    {
      "parameters": {
        "jsCode": "// SMART CHUNKER v3 - Exhaustive fileName extraction + embedded source headers\n// 6 different methods to find the real PDF filename\n\nconst config = $node[\"CONFIG\"].json;\nconst text = items[0].json.text || items[0].json.data || \"\";\n\n// === EXHAUSTIVE FILENAME EXTRACTION ===\nlet fileName = \"unknown\";\n\n// Method 1: Current item binary\ntry {\n  if (items[0].binary) {\n    for (const key of Object.keys(items[0].binary)) {\n      const fn = items[0].binary[key].fileName;\n      if (fn && fn !== \"unknown\" && fn.length > 2 && !fn.startsWith(\"blob:\")) {\n        fileName = fn;\n        break;\n      }\n    }\n  }\n} catch(e) {}\n\n// Method 2: $input.item\nif (fileName === \"unknown\") {\n  try {\n    const inp = $input.item;\n    if (inp && inp.binary) {\n      for (const key of Object.keys(inp.binary)) {\n        const fn = inp.binary[key].fileName;\n        if (fn && fn !== \"unknown\" && fn.length > 2 && !fn.startsWith(\"blob:\")) {\n          fileName = fn;\n          break;\n        }\n      }\n    }\n  } catch(e) {}\n}\n\n// Method 3: Batch splitter node - has original binary before PDF extraction\nif (fileName === \"unknown\") {\n  try {\n    const batchItem = $(\"Tek Tek Yukle\").item;\n    if (batchItem && batchItem.binary) {\n      for (const key of Object.keys(batchItem.binary)) {\n        const fn = batchItem.binary[key].fileName;\n        if (fn && fn !== \"unknown\" && fn.length > 2) {\n          fileName = fn;\n          break;\n        }\n      }\n    }\n  } catch(e) {}\n}\n\n// Method 4: PDF extractor node\nif (fileName === \"unknown\") {\n  try {\n    const pdfItem = $(\"PDF Text Cikar\").item;\n    if (pdfItem && pdfItem.binary) {\n      for (const key of Object.keys(pdfItem.binary)) {\n        const fn = pdfItem.binary[key].fileName;\n        if (fn && fn !== \"unknown\" && fn.length > 2) {\n          fileName = fn;\n          break;\n        }\n      }\n    }\n  } catch(e) {}\n}\n\n// Method 5: JSON fields\nif (fileName === \"unknown\") {\n  try {\n    const fn = items[0].json.fileName || items[0].json.file_name ||\n               items[0].json.name || items[0].json.title || \"\";\n    if (fn && fn.length > 2 && !fn.startsWith(\"blob:\")) fileName = fn;\n  } catch(e) {}\n}\n\n// Method 6: Old $node syntax\nif (fileName === \"unknown\") {\n  try {\n    const nodeData = $node[\"Tum PDF Oku\"];\n    if (nodeData && nodeData.binary) {\n      for (const key of Object.keys(nodeData.binary)) {\n        const fn = nodeData.binary[key].fileName;\n        if (fn && fn !== \"unknown\" && fn.length > 2) {\n          fileName = fn;\n          break;\n        }\n      }\n    }\n  } catch(e) {}\n}\n\n// Clean fileName\nfileName = fileName.replace(/\\.pdf$/i, '');\n\n// Debug: log which method worked\nconst debugFileName = fileName;\n\nif (!text || text.length < 50) {\n  return [{\n    json: {\n      pageContent: \"[KAYNAK: \" + fileName + \" | Sayfa: 0 | \" + config.folderTag + \"]\\n[Bu PDF'den metin cikarilmadi]\",\n      metadata: {\n        sourceName: fileName,\n        fileName: fileName,\n        source: fileName,\n        folder: config.folderTag,\n        page: 0,\n        chunk: 0,\n        _debug: debugFileName\n      }\n    }\n  }];\n}\n\nconst chunkSize = config.chunkSize || 1500;\nconst overlap = config.chunkOverlap || 200;\nconst chunks = [];\n\n// Sayfa ayirma: form feed kullan\nlet pages = text.split(/\\f/);\nif (pages.length <= 1) {\n  pages = [text];\n}\n\nlet globalChunkIndex = 0;\n\nfor (let pageIdx = 0; pageIdx < pages.length; pageIdx++) {\n  const pageText = pages[pageIdx].trim();\n  if (pageText.length < 30) continue;\n\n  // Section/header algilama - sadece gercek basliklari yakala\n  // \"2.5.1 Main Switchboard\" gibi, \"2.5 kA\" gibi degil\n  const headerMatch = pageText.match(/^[\\s]*(\\d+(?:\\.\\d+)+\\s+[A-Z][A-Za-z].{3,80})/m);\n  const section = headerMatch ? headerMatch[1].trim().substring(0, 100) : \"\";\n\n  let pos = 0;\n  while (pos < pageText.length) {\n    let end = Math.min(pos + chunkSize, pageText.length);\n\n    if (end < pageText.length) {\n      const lastPeriod = pageText.lastIndexOf('.', end);\n      const lastNewline = pageText.lastIndexOf('\\n', end);\n      const bestBreak = Math.max(lastPeriod, lastNewline);\n      if (bestBreak > pos + chunkSize * 0.4) {\n        end = bestBreak + 1;\n      }\n    }\n\n    const chunkText = pageText.substring(pos, end).trim();\n\n    if (chunkText.length > 30) {\n      const secPart = section ? \" | \" + section : \"\";\n      const sourceHeader = \"[KAYNAK: \" + fileName + \" | Sayfa: \" + (pageIdx + 1) + \" | \" + config.folderTag + secPart + \"]\";\n\n      chunks.push({\n        json: {\n          pageContent: sourceHeader + \"\\n\" + chunkText,\n          metadata: {\n            sourceName: fileName,\n            fileName: fileName,\n            source: fileName,\n            folder: config.folderTag,\n            page: pageIdx + 1,\n            chunk: globalChunkIndex,\n            section: section,\n            chunkSize: chunkSize\n          }\n        }\n      });\n      globalChunkIndex++;\n    }\n\n    pos = end - overlap;\n    if (pos <= 0 && end >= pageText.length) break;\n    if (end >= pageText.length) break;\n  }\n}\n\nif (chunks.length === 0) {\n  return [{\n    json: {\n      pageContent: \"[KAYNAK: \" + fileName + \" | Sayfa: 0 | \" + config.folderTag + \"]\\nPDF icerigi bos\",\n      metadata: {\n        sourceName: fileName,\n        fileName: fileName,\n        source: fileName,\n        folder: config.folderTag,\n        page: 0,\n        chunk: 0\n      }\n    }\n  }];\n}\n\nreturn chunks;\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        880,
        0
      ],
      "id": "a1b2c3d4-0006-4000-8000-000000000006",
      "name": "SMART_CHUNKER"
    },
    {
      "parameters": {
        "mode": "insert",
        "qdrantCollection": {
          "__rl": true,
          "value": "={{ $node[\"CONFIG\"].json.collection }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreQdrant",
      "typeVersion": 1.3,
      "position": [
        1240,
        0
      ],
      "id": "a1b2c3d4-0007-4000-8000-000000000007",
      "name": "Qdrant Yukle",
      "credentials": {
        "qdrantApi": {
          "id": "X0pbbSADyJw0n4U8",
          "name": "QdrantApi account"
        }
      }
    },
    {
      "parameters": {
        "model": "nomic-embed-text:latest"
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOllama",
      "typeVersion": 1,
      "position": [
        1160,
        240
      ],
      "id": "a1b2c3d4-0008-4000-8000-000000000008",
      "name": "Embeddings Ollama",
      "credentials": {
        "ollamaApi": {
          "id": "m56zkpBYscfCoPii",
          "name": "Ollama account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        1320,
        240
      ],
      "id": "a1b2c3d4-0009-4000-8000-000000000009",
      "name": "Default Data Loader"
    },
    {
      "parameters": {
        "jsCode": "// TAMAMLANDI - Ozet bilgi\nconst config = $node[\"CONFIG\"].json;\nconst totalItems = $node[\"Tek Tek Yukle\"].context.noItemsLeft \n  ? 0 \n  : ($node[\"Tek Tek Yukle\"].context.currentRunIndex || 0) + 1;\n\nreturn [{\n  json: {\n    status: \"TAMAMLANDI\",\n    message: `Toplam ${totalItems} PDF dosyasi islendi ve Qdrant'a yuklendi.`,\n    collection: config.collection,\n    folderTag: config.folderTag,\n    folderPath: config.folderPath,\n    totalFiles: totalItems\n  }\n}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        200,
        300
      ],
      "id": "a1b2c3d4-0010-4000-8000-000000000010",
      "name": "Bitti - Ozet"
    }
  ],
  "pinData": {},
  "connections": {
    "Baslat": {
      "main": [
        [
          {
            "node": "CONFIG",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "CONFIG": {
      "main": [
        [
          {
            "node": "Tum PDF Oku",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tum PDF Oku": {
      "main": [
        [
          {
            "node": "Tek Tek Yukle",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tek Tek Yukle": {
      "main": [
        [
          {
            "node": "Bitti - Ozet",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "PDF Text Cikar",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PDF Text Cikar": {
      "main": [
        [
          {
            "node": "SMART_CHUNKER",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SMART_CHUNKER": {
      "main": [
        [
          {
            "node": "Qdrant Yukle",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Qdrant Yukle": {
      "main": [
        [
          {
            "node": "Tek Tek Yukle",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Ollama": {
      "ai_embedding": [
        [
          {
            "node": "Qdrant Yukle",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Qdrant Yukle",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "timeSavedMode": "fixed",
    "timezone": "Europe/Istanbul",
    "callerPolicy": "workflowsFromSameOwner"
  },
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "1f3bb329867d83a64a7fcb9eea21ec33827ac4bebf2b87637c3c03f57702477f"
  },
  "tags": []
}
