offline_v2_fixed.json
{
  "name": "Offline v2 - Fixed",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "chat",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [-1120, -528],
      "id": "30f45c2f-6262-44c0-b25b-0a0996008bd3",
      "name": "Webhook",
      "webhookId": "a7ae4b5a-7a1c-4b21-b465-29310b473ae7",
      "retryOnFail": true,
      "waitBetweenTries": 3000
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "llama3.1:latest",
          "mode": "list",
          "cachedResultName": "llama3.1:latest"
        },
        "messages": {
          "values": [
            {
              "content": "=You are a router for ship technical manuals.\n\nReturn ONLY valid JSON:\n{\"question\":\"original question in Turkish\",\"collection\":\"...\",\"query_en\":\"short English search query with synonyms\"}\n\nYou MUST pick ONE collection from this EXACT list:\n- ship_electric\n- ship_ccr\n- ship_machinery\n- ship_bridge_equipment\n- ship_accommodation\n- ship_hull_piping\n- ship_hull_outfitting\n- ship_bwts_training\n- ship_8189_yard_dwg\n- ship_f\n\nRouting rules:\n- electric/switchboard/msb/esb/transformer/generator/power/battery/lighting/alarm/cctv -> ship_electric\n- cargo/ccr/pump/valve/ows/tank/igs/igg/chiller -> ship_ccr\n- bridge/autopilot/radar/gyro/ais/ecdis/echo sounder/vdr/navtex/gps/gnss/compass/vhf/radio/gmdss/inmarsat/epirb/anemometer/whistle/rudder angle -> ship_bridge_equipment\n- engine/main engine/aux engine/purifier/boiler/compressor/separator/incinerator/oily water/sewage/freshwater generator/calorifier/propeller/shaft/stern tube -> ship_machinery\n- air conditioning/hvac/provision/galley/laundry/refrigerating/door/window/toilet -> ship_accommodation\n- ballast water/bwts -> ship_bwts_training\n- hull piping/valve remote/butterfly valve/fire pump/co2/fire extinguish/sea water spray -> ship_hull_piping\n- steering gear/anchor/crane/davit/ladder/gangway/life raft/life saving/ventilation fan/towing -> ship_hull_outfitting\n- solas/training manual -> ship_f\n- yard drawing/tank calibration -> ship_8189_yard_dwg\n- if unsure -> ship_machinery\n\nQuestion:\n{{$json.body.message || $json.body.question || $json.question || $json.message}}\n"
            }
          ]
        },
        "simplify": false,
        "options": {
          "system": "You are a JSON-only router. Return ONLY valid JSON. No markdown, no explanation, no extra text.\n",
          "temperature": 0.05,
          "num_predict": 250
        }
      },
      "type": "@n8n/n8n-nodes-langchain.ollama",
      "typeVersion": 1,
      "position": [-912, -560],
      "id": "d9e77522-c50d-48b1-ad22-094048c66e6a",
      "name": "ROUTER",
      "credentials": {
        "ollamaApi": {
          "id": "m56zkpBYscfCoPii",
          "name": "Ollama account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// APPLY_ROUTE - parse router JSON safely, sanitize, and output fields for Qdrant\n\nfunction getRouterText(item) {\n  return (\n    item.json.content ||\n    item.json.message?.content ||\n    item.json.data?.message?.content ||\n    \"\"\n  ).trim();\n}\n\nconst item0 = items[0] || { json: {} };\nconst raw = getRouterText(item0);\n\n// Parse JSON from model\nlet obj = {};\ntry {\n  // Clean markdown artifacts if present\n  let cleaned = raw.replace(/```json\\n?/g, '').replace(/```\\n?/g, '').trim();\n  obj = JSON.parse(cleaned);\n} catch (e) {\n  const m = raw.match(/\\{[\\s\\S]*\\}/);\n  if (m) {\n    try { obj = JSON.parse(m[0]); } catch (e2) { obj = {}; }\n  }\n}\n\n// Pull original question from webhook as fallback\nlet wbMsg = \"\";\ntry {\n  const wb = $items(\"Webhook\")[0].json;\n  wbMsg = wb.body?.message || wb.body?.question || wb.message || wb.question || \"\";\n} catch (e) {}\n\nconst question = (obj.question || wbMsg || \"\").trim();\nif (!question) {\n  return [{ json: { error: true, message: \"Soru alınamadı.\" } }];\n}\n\n// Sanitize collection\nlet collection = String(obj.collection || \"ship_manuals_v3\").trim().replace(/^=+/, \"\");\nconst allowed = new Set([\"ship_electric\",\"ship_ccr\",\"ship_machinery\",\"ship_bridge_equipment\",\"ship_accommodation\",\"ship_hull_piping\",\"ship_hull_outfitting\",\"ship_bwts_training\",\"ship_8189_yard_dwg\",\"ship_f\"]);\nif (!allowed.has(collection)) collection = \"ship_machinery\";\n\n// Folder validation\nconst validFolders = new Set([\n  \"ELECTRIC\", \"CCR\", \"BRIDGE_EQUIPMENT\", \"MACHINERY\",\n  \"ACCOMMODATION\", \"HULL PIPING\", \"HULL OUTFITTING\",\n  \"BWTS TRAINING\", \"8189 YARD DWG\"\n]);\nlet folder = obj.folder ?? null;\nif (typeof folder === \"string\") {\n  folder = folder.trim().toUpperCase();\n  if (!folder || !validFolders.has(folder)) folder = null;\n}\n\n// Query\nlet query_en = String(obj.query_en || \"\").trim();\nif (!query_en) query_en = question;\n\nreturn [{\n  json: { question, query_en, collection, folder }\n}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-576, -528],
      "id": "ac117763-1f38-4168-ac78-9f8f05774d7c",
      "name": "APPLY_ROUTE"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "err-check-1",
              "leftValue": "={{ $json.error }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [-400, -528],
      "id": "err-check-node-1",
      "name": "Route Error?"
    },
    {
      "parameters": {
        "mode": "load",
        "qdrantCollection": {
          "__rl": true,
          "value": "={{$json.collection}}",
          "mode": "id"
        },
        "prompt": "={{$json.query_en}}",
        "topK": 15,
        "options": {
          "searchFilterJson": "={{ $json.folder ? { must: [{ key:\"metadata.folder\", match:{ value:$json.folder } }] } : {} }}"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreQdrant",
      "typeVersion": 1.3,
      "position": [-160, -528],
      "id": "70e9377a-7cd3-43b5-adda-39062ac36625",
      "name": "Qdrant Vector Store",
      "credentials": {
        "qdrantApi": {
          "id": "X0pbbSADyJw0n4U8",
          "name": "QdrantApi account"
        }
      }
    },
    {
      "parameters": {
        "model": "nomic-embed-text:latest"
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOllama",
      "typeVersion": 1,
      "position": [-160, -304],
      "id": "d4e41ed1-4255-41ea-95ee-4f3f8fe39c43",
      "name": "Embeddings Ollama",
      "credentials": {
        "ollamaApi": {
          "id": "m56zkpBYscfCoPii",
          "name": "Ollama account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// BUILD_PROMPT - Qdrant sonuclarini temizle ve prompt olustur\n\nconst route = $node[\"APPLY_ROUTE\"].json;\nconst question = route.question || \"\";\n\n// Qdrant'tan gelen items\nconst cleaned = items\n  .map((it) => it.json.document ? it.json.document : it.json)\n  .map((d) => {\n    const text = String(d.pageContent || d.page_content || d.text || \"\").trim();\n    const md = d.metadata || {};\n    return {\n      text,\n      source: md.sourceName || md.fileName || md.source || md.file || \"bilinmeyen\",\n      folder: md.folder || \"\",\n      page: md.page ?? md.loc?.pageNumber ?? \"\",\n      chunk: md.chunk ?? \"\",\n      score: d.score ?? \"\"\n    };\n  })\n  .filter(h => h.text.length > 50)\n  .filter(h => !/^[\\W_]+$/.test(h.text));\n\nif (cleaned.length === 0) {\n  const prompt = `Kullanıcı şunu sordu: \"${question}\"\n\nVektor veritabanında bu soruyla ilgili hiçbir sonuç bulunamadı.\nKullanıcıya kibarca bildir ve hangi konularda yardımcı olabileceğini söyle.\nCevabı Türkçe ver.`;\n\n  return [{\n    json: {\n      question,\n      context: \"\",\n      sources: \"Kaynak bulunamadı\",\n      prompt\n    }\n  }];\n}\n\n// En iyi 6 chunk yeterli (llama3.1 context icin optimize)\nconst top = cleaned.slice(0, 6);\n\nconst context = top.map((h, i) => {\n  const src = h.source !== \"bilinmeyen\" ? h.source : \"Manuel\";\n  const pg = h.page ? ` | Sayfa: ${h.page}` : \"\";\n  return `[Kaynak ${i+1}] ${src}${pg}\\n${h.text}`;\n}).join(\"\\n---\\n\");\n\nconst sources = top.map((h, i) => {\n  const src = h.source !== \"bilinmeyen\" ? h.source : \"Manuel\";\n  const pg = h.page ? ` - Sayfa ${h.page}` : \"\";\n  return `${i+1}. ${src}${pg}`;\n}).join(\"\\n\");\n\nconst prompt = `Sen MANTA ANADOLU gemisinin teknik manual asistanısın. Adın ARGUS.\nGörevin: Arıza ve teknik sorulara SADECE aşağıdaki dokümanlara dayanarak cevap vermek.\n\nKRİTİK KURALLAR:\n1. SADECE verilen CONTEXT bilgisini kullan. Uydurma YAPMA.\n2. Arıza çözümü soruluyorsa: adım adım çözüm yaz.\n3. Cevabın sonunda mutlaka KAYNAKLAR bölümü olacak (dosya adı + sayfa numarası).\n4. Context yetersizse: \"Bu konuda yeterli bilgi bulunamadı\" de, hangi kaynakların geldiğini yaz.\n5. Cevabı Türkçe ver.\n\nKULLANICI SORUSU: ${question}\n\n--- DÖKÜMAN BİLGİLERİ ---\n${context}\n--- DÖKÜMAN SONU ---\n\nKAYNAKLAR:\n${sources}\n\nCevabını yaz:`;\n\nreturn [{\n  json: {\n    question,\n    context,\n    sources,\n    prompt\n  }\n}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [80, -576],
      "id": "2dee6792-10b4-4b02-8b7f-5ecfb2935ed2",
      "name": "BUILD_PROMPT"
    },
    {
      "parameters": {
        "model": "llama3.1:latest",
        "options": {
          "temperature": 0.2,
          "numPredict": 2048
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmOllama",
      "typeVersion": 1,
      "position": [320, -320],
      "id": "eeaf945d-d16b-4e6b-bad9-64c0a2e72d75",
      "name": "Ollama Model",
      "credentials": {
        "ollamaApi": {
          "id": "m56zkpBYscfCoPii",
          "name": "Ollama account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{$json.prompt}}\n",
        "needsFallback": true,
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.9,
      "position": [320, -560],
      "id": "e8c7962a-1b9e-4a50-a3a9-d751f54456b5",
      "name": "ANSWER"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "c20e175d-5353-46be-80c2-1fef34ad7a42",
              "name": "text",
              "value": "={{ ($json.text ?? $json.output ?? $json.content ?? $json.answer ?? $json.result ?? \"Cevap üretilemedi.\").toString().trim() }}",
              "type": "string"
            },
            {
              "id": "d5825a22-e4ef-4194-bcbf-6f069f93cdec",
              "name": "sources",
              "value": "={{ $node[\"BUILD_PROMPT\"].json.sources ?? \"\" }}",
              "type": "string"
            },
            {
              "id": "13c5968e-202f-442c-9ae1-5d2a489c2d0f",
              "name": "question",
              "value": "={{ $node[\"APPLY_ROUTE\"].json.question ?? \"\" }}",
              "type": "string"
            },
            {
              "id": "03c36e38-81c0-45f8-8865-195f4b3ff1cd",
              "name": "ok",
              "value": true,
              "type": "boolean"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [560, -528],
      "id": "a604257b-5f3b-4abe-8dd6-7528dacadc8a",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "err-text-1",
              "name": "text",
              "value": "={{ $json.message || \"Bir hata oluştu, lütfen tekrar deneyin.\" }}",
              "type": "string"
            },
            {
              "id": "err-ok-1",
              "name": "ok",
              "value": false,
              "type": "boolean"
            },
            {
              "id": "err-sources-1",
              "name": "sources",
              "value": "",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [-240, -360],
      "id": "err-response-node-1",
      "name": "Error Response"
    },
    {
      "parameters": {
        "options": {
          "responseHeaders": {
            "entries": [
              { "name": "Content-Type", "value": "application/json" },
              { "name": "Access-Control-Allow-Origin", "value": "*" },
              { "name": "Access-Control-Allow-Headers", "value": "Content-Type" },
              { "name": "Access-Control-Allow-Methods", "value": "POST, OPTIONS" }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [800, -544],
      "id": "6f183dff-6336-4e1d-96c0-b3aed1974363",
      "name": "Respond to Webhook"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [[{ "node": "ROUTER", "type": "main", "index": 0 }]]
    },
    "ROUTER": {
      "main": [[{ "node": "APPLY_ROUTE", "type": "main", "index": 0 }]]
    },
    "APPLY_ROUTE": {
      "main": [[{ "node": "Route Error?", "type": "main", "index": 0 }]]
    },
    "Route Error?": {
      "main": [
        [{ "node": "Error Response", "type": "main", "index": 0 }],
        [{ "node": "Qdrant Vector Store", "type": "main", "index": 0 }]
      ]
    },
    "Qdrant Vector Store": {
      "main": [[{ "node": "BUILD_PROMPT", "type": "main", "index": 0 }]]
    },
    "Embeddings Ollama": {
      "ai_embedding": [[{ "node": "Qdrant Vector Store", "type": "ai_embedding", "index": 0 }]]
    },
    "BUILD_PROMPT": {
      "main": [[{ "node": "ANSWER", "type": "main", "index": 0 }]]
    },
    "Ollama Model": {
      "ai_languageModel": [[{ "node": "ANSWER", "type": "ai_languageModel", "index": 0 }]]
    },
    "ANSWER": {
      "main": [[{ "node": "Edit Fields", "type": "main", "index": 0 }]]
    },
    "Edit Fields": {
      "main": [[{ "node": "Respond to Webhook", "type": "main", "index": 0 }]]
    },
    "Error Response": {
      "main": [[{ "node": "Respond to Webhook", "type": "main", "index": 0 }]]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": true,
    "timeSavedMode": "fixed",
    "callerPolicy": "workflowsFromSameOwner"
  },
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "1f3bb329867d83a64a7fcb9eea21ec33827ac4bebf2b87637c3c03f57702477f"
  },
  "tags": []
}
