ofllıne.json
{
  "name": "ofllıne",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "chat",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -1120,
        -528
      ],
      "id": "30f45c2f-6262-44c0-b25b-0a0996008bd3",
      "name": "Webhook",
      "webhookId": "a7ae4b5a-7a1c-4b21-b465-29310b473ae7",
      "retryOnFail": true,
      "waitBetweenTries": 3000
    },
    {
      "parameters": {
        "mode": "load",
        "qdrantCollection": {
          "__rl": true,
          "value": "={{$json.collection}}",
          "mode": "id"
        },
        "prompt": "={{$json.query_en}}\n\n",
        "topK": 30,
        "options": {
          "searchFilterJson": "={{ $json.folder ? { must: [{ key:\"metadata.folder\", match:{ value:$json.folder } }] } : {} }}"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreQdrant",
      "typeVersion": 1.3,
      "position": [
        -256,
        -528
      ],
      "id": "70e9377a-7cd3-43b5-adda-39062ac36625",
      "name": "Qdrant Vector Store",
      "credentials": {
        "qdrantApi": {
          "id": "X0pbbSADyJw0n4U8",
          "name": "QdrantApi account"
        }
      }
    },
    {
      "parameters": {
        "model": "nomic-embed-text:latest"
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOllama",
      "typeVersion": 1,
      "position": [
        -256,
        -304
      ],
      "id": "d4e41ed1-4255-41ea-95ee-4f3f8fe39c43",
      "name": "Embeddings Ollama1",
      "alwaysOutputData": true,
      "credentials": {
        "ollamaApi": {
          "id": "m56zkpBYscfCoPii",
          "name": "Ollama account"
        }
      }
    },
    {
      "parameters": {
        "model": "llama3.1:latest",
        "options": {
          "temperature": 0.1,
          "numPredict": 200
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmOllama",
      "typeVersion": 1,
      "position": [
        224,
        -272
      ],
      "id": "eeaf945d-d16b-4e6b-bad9-64c0a2e72d75",
      "name": "Ollama Model",
      "credentials": {
        "ollamaApi": {
          "id": "m56zkpBYscfCoPii",
          "name": "Ollama account"
        }
      }
    },
    {
      "parameters": {
        "model": "nomic-embed-text:latest",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmOllama",
      "typeVersion": 1,
      "position": [
        496,
        -256
      ],
      "id": "6bbc0b2d-7f58-4dac-aa9f-6174cad14398",
      "name": "Ollama Model1",
      "credentials": {
        "ollamaApi": {
          "id": "m56zkpBYscfCoPii",
          "name": "Ollama account"
        }
      }
    },
    {
      "parameters": {
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Content-Type",
                "value": "application/json"
              },
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              },
              {
                "name": "Access-Control-Allow-Headers",
                "value": "Content-Type"
              },
              {
                "name": "Access-Control-Allow-Methods",
                "value": "POST, OPTIONS"
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        832,
        -544
      ],
      "id": "6f183dff-6336-4e1d-96c0-b3aed1974363",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "c20e175d-5353-46be-80c2-1fef34ad7a42",
              "name": "text",
              "value": "={{ ($json.text ?? $json.output ?? $json.content ?? $json.answer ?? $json.result ?? \"Cevap üretilemedi.\").toString().trim() }}\n",
              "type": "string"
            },
            {
              "id": "d5825a22-e4ef-4194-bcbf-6f069f93cdec",
              "name": "sources",
              "value": "={{ $json.sources_map ?? \"\" }}\n",
              "type": "string"
            },
            {
              "id": "13c5968e-202f-442c-9ae1-5d2a489c2d0f",
              "name": "question",
              "value": "={{ $json.question_tr ?? $json.question ?? \"\" }}\n",
              "type": "string"
            },
            {
              "id": "03c36e38-81c0-45f8-8865-195f4b3ff1cd",
              "name": "ok",
              "value": true,
              "type": "boolean"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        640,
        -528
      ],
      "id": "a604257b-5f3b-4abe-8dd6-7528dacadc8a",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "jsCode": "const route = $node[\"Code in JavaScript2\"].json; // APPLY_ROUTE node adın buysa böyle kalır\nconst question = route.question || \"\";\n\n// Qdrant’tan gelen items burada\nconst cleaned = items\n  .map((it) => it.json.document ? it.json.document : it.json)\n  .map((d) => {\n    const text = String(d.pageContent || d.page_content || \"\").trim();\n    const md = d.metadata || {};\n    return {\n      text,\n      source: md.sourceName || md.fileName || md.source || \"unknown\",\n      folder: md.folder || \"\",\n      page: md.page ?? \"\",\n      chunk: md.chunk ?? \"\",\n      score: d.score ?? \"\"\n    };\n  })\n  // sembol / boş sayfaları at\n  .filter(h => h.text.length > 80)\n  .filter(h => !/^[\\W_]+$/.test(h.text));\n\n// Top 12 yeter (yoksa prompt şişer)\nconst top = cleaned.slice(0, 12);\n\nconst context = top.map((h, i) => {\n  return `[#${i+1}] ${h.source} | p:${h.page} | c:${h.chunk}\\n${h.text}`;\n}).join(\"\\n\\n\");\n\nconst sources = top.map((h, i) => `[#${i+1}] ${h.source} p:${h.page}`).join(\"\\n\");\n\nconst prompt = `\nSen bir gemi teknik manual asistanısın.\nSADECE aşağıdaki CONTEXT'e dayanarak cevap ver. Uydurma yapma.\n\nKURAL:\n- Cevabın sonunda mutlaka \"Kaynaklar\" listesi olacak ve her maddede dosya adı + sayfa yazacak.\n- Eğer context yetersizse: \"Bulunamadı\" de ve yine hangi kaynakların geldiğini yaz.\n\nSORU (TR): ${question}\n\nCONTEXT:\n${context}\n\nKaynaklar:\n${sources}\n`.trim();\n\nreturn [{\n  json: {\n    question,\n    context,\n    sources,\n    prompt\n  }\n}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        32,
        -576
      ],
      "id": "2dee6792-10b4-4b02-8b7f-5ecfb2935ed2",
      "name": "BUILD_PROMPT"
    },
    {
      "parameters": {
        "jsCode": "// APPLY_ROUTE - parse router JSON safely, sanitize, and output fields for Qdrant\n\nfunction getRouterText(item) {\n  // Depending on Simplify Output, content may be in different places\n  return (\n    item.json.content ||\n    item.json.message?.content ||\n    item.json.data?.message?.content ||\n    \"\"\n  ).trim();\n}\n\nconst item0 = items[0] || { json: {} };\nconst raw = getRouterText(item0);\n\n// Parse JSON from model\nlet obj = {};\ntry {\n  obj = JSON.parse(raw);\n} catch (e) {\n  // If model returned extra text, try to extract first JSON block\n  const m = raw.match(/\\{[\\s\\S]*\\}/);\n  if (m) {\n    try { obj = JSON.parse(m[0]); } catch (e2) { obj = {}; }\n  }\n}\n\n// Pull original question from webhook as ultimate fallback\nlet wbMsg = \"\";\ntry {\n  const wb = $items(\"Webhook\")[0].json;\n  wbMsg = wb.body?.message || wb.body?.question || wb.message || wb.question || \"\";\n} catch (e) {}\n\nconst question = (obj.question || wbMsg || \"\").trim();\n\n// Sanitize collection\nlet collection = String(obj.collection || \"ship_manuals_v3\").trim().replace(/^=+/, \"\");\nconst allowed = new Set([\"ship_electric\",\"ship_ccr\",\"ship_manuals\",\"ship_manuals_v2\",\"ship_manuals_v3\"]);\nif (!allowed.has(collection)) collection = \"ship_manuals_v3\";\n\n// Folder (exact match or null)\nlet folder = obj.folder ?? null;\nif (typeof folder === \"string\") {\n  folder = folder.trim();\n  if (!folder) folder = null;\n}\n\n// Query\nlet query_en = String(obj.query_en || \"\").trim();\nif (!query_en) query_en = question;\n\n// Final\nreturn [{\n  json: { question, query_en, collection, folder }\n}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -576,
        -528
      ],
      "id": "ac117763-1f38-4168-ac78-9f8f05774d7c",
      "name": "Code in JavaScript2"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "llama3.1:latest",
          "mode": "list",
          "cachedResultName": "llama3.1:latest"
        },
        "messages": {
          "values": [
            {
              "content": "=You are a router for ship manuals.\n\nReturn ONLY this JSON:\n{\"question\":\"...\",\"collection\":\"...\",\"folder\":null or \"...\",\"query_en\":\"...\"}\n\nCollections that currently contain data:\n- ship_electric\n- ship_ccr\n- ship_manuals\n- ship_manuals_v2\n- ship_manuals_v3\n\nFolder MUST match EXACTLY one of these Windows folder names (or null):\n\"ELECTRIC\", \"CCR\", \"BRIDGE_EQUIPMENT\", \"MACHINERY\", \"ACCOMMODATION\", \"HULL PIPING\", \"HULL OUTFITTING\", \"BWTS TRAINING\", \"8189 YARD DWG\", \"F\"\n\nRules:\n- electric/switchboard/msb/esb/transformer/generator/power -> collection=ship_electric, folder=\"ELECTRIC\"\n- cargo/ccr/pump/valve/ows/tank/line -> collection=ship_ccr, folder=\"CCR\"\n- bridge/autopilot/radar/gyro/ais/echo sounder/ecdis -> collection=ship_manuals_v3, folder=\"BRIDGE_EQUIPMENT\"\n- if unsure -> collection=ship_manuals_v3, folder=null\n\nMake query_en a short English search query with synonyms.\n\nQuestion:\n{{$json.body.message || $json.body.question || $json.question || $json.message}}\n"
            }
          ]
        },
        "simplify": false,
        "options": {
          "system": "Sadece geçerli JSON döndür. Markdown yok, açıklama yok, ekstra metin yok.\n",
          "temperature": 0.1,
          "num_predict": 200
        }
      },
      "type": "@n8n/n8n-nodes-langchain.ollama",
      "typeVersion": 1,
      "position": [
        -912,
        -560
      ],
      "id": "d9e77522-c50d-48b1-ad22-094048c66e6a",
      "name": "ROUTER",
      "credentials": {
        "ollamaApi": {
          "id": "m56zkpBYscfCoPii",
          "name": "Ollama account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{$json.prompt}}\n",
        "needsFallback": true,
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.9,
      "position": [
        368,
        -560
      ],
      "id": "e8c7962a-1b9e-4a50-a3a9-d751f54456b5",
      "name": "ANSWER"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "ROUTER",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Qdrant Vector Store": {
      "main": [
        [
          {
            "node": "BUILD_PROMPT",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Ollama1": {
      "ai_embedding": [
        [
          {
            "node": "Qdrant Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Ollama Model": {
      "ai_languageModel": [
        [
          {
            "node": "ANSWER",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Ollama Model1": {
      "ai_languageModel": [
        [
          {
            "node": "ANSWER",
            "type": "ai_languageModel",
            "index": 1
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "BUILD_PROMPT": {
      "main": [
        [
          {
            "node": "ANSWER",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript2": {
      "main": [
        [
          {
            "node": "Qdrant Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ROUTER": {
      "main": [
        [
          {
            "node": "Code in JavaScript2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ANSWER": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": true,
    "timeSavedMode": "fixed",
    "callerPolicy": "workflowsFromSameOwner"
  },
  "versionId": "b4368e3f-cc17-4b32-af93-f8bcd231025c",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "1f3bb329867d83a64a7fcb9eea21ec33827ac4bebf2b87637c3c03f57702477f"
  },
  "id": "Pk7Iu57AH9jRuAQthFtaT",
  "tags": []
}