N8N_WORKFLOWS/AI_VIRAL_VIDEO_VEO3.json
{
  "name": "AI Viral Video - VEO 3 (Optimized)",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours",
              "hoursInterval": 3
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        240,
        300
      ],
      "id": "schedule-trigger",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "url": "https://www.googleapis.com/youtube/v3/videos",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "chart",
              "value": "mostPopular"
            },
            {
              "name": "regionCode",
              "value": "TR"
            },
            {
              "name": "maxResults",
              "value": "5"
            },
            {
              "name": "part",
              "value": "snippet,statistics"
            },
            {
              "name": "key",
              "value": "={{$env.YOUTUBE_API_KEY}}"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        464,
        300
      ],
      "id": "youtube-fetch",
      "name": "YouTube Trending"
    },
    {
      "parameters": {
        "fieldToSplitOut": "items",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        688,
        300
      ],
      "id": "split-videos",
      "name": "Split Videos"
    },
    {
      "parameters": {
        "jsCode": "// Filter and score YouTube trending videos\nconst publishedAt = new Date($json.snippet.publishedAt);\nconst now = new Date();\nconst hoursDiff = (now - publishedAt) / (1000 * 60 * 60);\n\n// Accept videos up to 7 days old (168 hours)\nif (hoursDiff > 168) {\n  return [];\n}\n\nconst views = Number($json.statistics.viewCount) || 0;\nconst likes = Number($json.statistics.likeCount) || 0;\nconst comments = Number($json.statistics.commentCount) || 0;\n\nconst engagementRate = views > 0 ? ((likes + comments) / views) * 100 : 0;\n\n// Boost videos that are very fresh\nconst ageBonus = hoursDiff < 12 ? 2 : (hoursDiff < 24 ? 1.5 : 1);\n\n// Viral score calculation\nconst viralScore = (views * 0.5 * ageBonus) + ((likes * 30) + (comments * 50) + (engagementRate * 1000));\n\nreturn [{\n  json: {\n    videoId: $json.id,\n    title: $json.snippet.title,\n    description: $json.snippet.description,\n    channelTitle: $json.snippet.channelTitle,\n    thumbnail: $json.snippet.thumbnails?.maxres?.url || $json.snippet.thumbnails?.high?.url || '',\n    viewCount: views,\n    likeCount: likes,\n    commentCount: comments,\n    engagementRate: engagementRate.toFixed(2),\n    viralScore: Math.round(viralScore),\n    ageHours: Math.round(hoursDiff),\n    publishedAt: $json.snippet.publishedAt\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        912,
        300
      ],
      "id": "filter-score",
      "name": "Filter & Score"
    },
    {
      "parameters": {
        "sortFieldsUi": {
          "sortField": [
            {
              "fieldName": "viralScore",
              "order": "descending"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.sort",
      "typeVersion": 1,
      "position": [
        1136,
        300
      ],
      "id": "sort-videos",
      "name": "Sort by Score"
    },
    {
      "parameters": {
        "maxItems": 1
      },
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [
        1360,
        300
      ],
      "id": "get-top-video",
      "name": "Get Top Video"
    },
    {
      "parameters": {
        "jsCode": "// Fetch YouTube thumbnail using axios (fetch not available in n8n)\nconst thumbnailUrl = $json.thumbnail;\n\nif (!thumbnailUrl) {\n  throw new Error('No thumbnail URL found');\n}\n\ntry {\n  // Use axios to fetch the thumbnail\n  const response = await this.helpers.httpRequest({\n    method: 'GET',\n    url: thumbnailUrl,\n    encoding: null,\n    returnFullResponse: false\n  });\n  \n  // Convert to base64\n  const base64Image = Buffer.from(response).toString('base64');\n  \n  return [{\n    json: {\n      ...($json),\n      thumbnailBase64: base64Image\n    }\n  }];\n} catch (error) {\n  throw new Error(`Failed to fetch thumbnail: ${error.message}`);\n}"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1472,
        300
      ],
      "id": "fetch-thumbnail",
      "name": "Fetch Thumbnail Base64"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://generativelanguage.googleapis.com/v1beta/models/gemini-2.0-flash-exp:generateContent",
        "authentication": "genericCredentialType",
        "nodeCredentialType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({\n  contents: [{\n    parts: [\n      {\n        text: `Sen professional cinematographer ve Google VEO 3 video generation uzman\u0131s\u0131n. YouTube'da viral olan bu videonun G\u00d6RSELINI ve B\u0130LG\u0130LER\u0130N\u0130 analiz ederek, VEO 3 i\u00e7in ULTRA DETAYLI bir 8 saniyelik video prompt'u olu\u015ftur.\n\n\ud83d\udcf9 VIRAL VIDEO B\u0130LG\u0130LER\u0130:\nBa\u015fl\u0131k: ${$json.title}\nKanal: ${$json.channelTitle}\n\u0130zlenme: ${$json.viewCount.toLocaleString()}\nBe\u011feni: ${$json.likeCount.toLocaleString()}\nA\u00e7\u0131klama: ${($json.description || '').substring(0, 200)}\n\n\ud83d\udc41\ufe0f \u00d6NEML\u0130: A\u015fa\u011f\u0131daki thumbnail g\u00f6rselini detayl\u0131ca analiz et! Renk paleti, kompozisyon, atmosfer, ki\u015filerin pozlar\u0131, \u0131\u015f\u0131k kullan\u0131m\u0131, genel mood - hepsini incele ve benzer bir VEO 3 prompt'u olu\u015ftur.\n\n\ud83c\udfac VEO 3 PROMPT KURALLARI:\n\n1. CAMERA WORK (Mutlaka belirt):\n   - Shot type: wide shot / medium shot / close-up / extreme close-up / aerial / POV\n   - Camera movement: slow motion / time-lapse / smooth tracking / dolly zoom / handheld / static\n   - Angle: low angle / high angle / eye level / bird's eye / worm's eye\n\n2. SUBJECT & ACTION (G\u00f6rselden esinlen!):\n   - Ana obje/ki\u015fi ne yap\u0131yor?\n   - Hareket nas\u0131l? (dynamic / graceful / explosive / gentle)\n   - Pozisyon ve kompozisyon (g\u00f6rseldeki gibi!)\n\n3. LIGHTING & ATMOSPHERE (G\u00f6rseldeki \u0131\u015f\u0131\u011f\u0131 kopyala!):\n   - Light quality: golden hour / blue hour / harsh midday / soft studio / dramatic shadows / backlit / rim light / neon\n   - Color temperature: warm / cool / neutral / neon / saturated\n   - Mood: cinematic / dreamy / energetic / peaceful / dramatic / mysterious / urban / vintage\n\n4. TECHNICAL SPECS:\n   - Quality: 4K / cinematic / professional\n   - Depth of field: shallow / deep\n   - Color grading: film look / vivid / muted / high contrast / retro / modern\n\n5. ENVIRONMENT (G\u00f6rseldeki ortam\u0131 tan\u0131mla!):\n   - Lokasyon detaylar\u0131 (indoor/outdoor, urban/nature, etc.)\n   - Background elements\n   - Atmosfer (fog / rain / dust / clear / smoke / lights)\n\n6. COLOR PALETTE (G\u00f6rseldeki renkler!):\n   - Ana renkler (dominant colors)\n   - Kontrast durumu\n   - Saturation level\n\n7. KURAL:\n   - KESINLIKLE metin, yaz\u0131, UI, logo eklememe\n   - \u0130nsan y\u00fcz\u00fc varsa generic olmal\u0131 (\u00fcnl\u00fc benzemez)\n   - Max 480 karakter\n   - Sadece \u0130ngilizce\n   - G\u00f6rseldeki MOOD ve ST\u0130L\u0130 yakala!\n\n\ud83d\udcdd \u00d6RNEK:\n\"A cinematic wide-angle shot of a golden retriever running through a sunlit meadow at golden hour, captured in slow motion with smooth tracking camera movement. Shot at eye level with shallow depth of field, professional 4K quality. The dog's fur glows in the warm backlit sunlight, creating rim lighting effect. Background features soft bokeh of wildflowers and tall grass. Film-like color grading with warm tones, dreamy atmosphere.\"\n\n\u015e\u0130MDI G\u00d6RSELI ANALIZ ET VE SADECE VEO 3 PROMPT'UNU YAZ (a\u00e7\u0131klama yapma!):`\n      },\n      {\n        inlineData: {\n          mimeType: 'image/jpeg',\n          data: $json.thumbnailBase64\n        }\n      }\n    ]\n  }],\n  generationConfig: {\n    temperature: 0.7,\n    maxOutputTokens: 512,\n    topP: 0.95,\n    topK: 40\n  }\n}) }}"
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        1584,
        300
      ],
      "id": "gemini-prompt",
      "name": "Gemini Vision - Generate VEO3 Prompt",
      "notes": "Uses Gemini Vision to analyze YouTube thumbnail and create accurate VEO 3 prompts"
    },
    {
      "parameters": {
        "jsCode": "// Parse Gemini response and extract VEO3 prompt\nconst response = $input.first().json;\nlet veo3Prompt = '';\n\ntry {\n  if (response.candidates && response.candidates[0]) {\n    veo3Prompt = response.candidates[0].content.parts[0].text.trim();\n    \n    // Remove any markdown formatting\n    veo3Prompt = veo3Prompt.replace(/```[a-z]*\\n?/g, '').trim();\n    \n    // Remove \"VEO 3 Prompt:\" or similar prefixes\n    veo3Prompt = veo3Prompt.replace(/^(VEO\\s*3\\s*Prompt:|Prompt:)\\s*/i, '').trim();\n    \n    // Ensure max 480 characters\n    if (veo3Prompt.length > 480) {\n      veo3Prompt = veo3Prompt.substring(0, 477) + '...';\n    }\n  } else {\n    throw new Error('No candidates in Gemini response');\n  }\n} catch (error) {\n  // Fallback to a known-good prompt\n  veo3Prompt = \"A cinematic slow-motion wide shot of ocean waves crashing on coastal rocks at golden hour, professional 4K quality with shallow depth of field, warm color grading, dramatic backlit sunlight creating spray highlights, peaceful atmosphere.\";\n  console.log('Gemini parse error, using fallback:', error.message);\n}\n\nreturn [{\n  json: {\n    veo3Prompt: veo3Prompt,\n    sourceVideo: {\n      title: $('Get Top Video').item.json.title,\n      channel: $('Get Top Video').item.json.channelTitle,\n      views: $('Get Top Video').item.json.viewCount\n    }\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1808,
        300
      ],
      "id": "parse-veo3-prompt",
      "name": "Parse VEO3 Prompt"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://generativelanguage.googleapis.com/v1beta/models/veo-3.0-fast-generate-001:predictLongRunning",
        "authentication": "genericCredentialType",
        "nodeCredentialType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({\n  instances: [{\n    prompt: $json.veo3Prompt\n  }],\n  parameters: {\n    aspectRatio: \"16:9\",\n    sampleCount: 1,\n    durationSeconds: 8\n  }\n}) }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        2032,
        300
      ],
      "id": "veo3-request",
      "name": "VEO3 - Start Generation"
    },
    {
      "parameters": {
        "jsCode": "// Parse operation ID from VEO3 response\nconst input = $input.first().json;\nconst operationName = input.name;\nconst operationId = operationName.split('/').pop();\n\n// Get Telegram Chat ID from environment variable\nconst chatId = $env.TELEGRAM_CHAT_ID;\n\nreturn [{\n  json: {\n    operationName: operationName,\n    operationId: operationId,\n    checkUrl: `https://generativelanguage.googleapis.com/v1beta/${operationName}`,\n    status: 'PROCESSING',\n    retryCount: 0,\n    maxRetries: 15,\n    chatId: chatId,\n    message: '\ud83c\udfac Video \u00fcretimi ba\u015flad\u0131! Bekleniyor...'\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2256,
        300
      ],
      "id": "parse-operation-id",
      "name": "Parse Operation ID"
    },
    {
      "parameters": {
        "amount": 60,
        "unit": "seconds"
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        2480,
        300
      ],
      "id": "wait-60s",
      "name": "Wait 60 Seconds",
      "webhookId": "veo3-wait"
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{$json.checkUrl}}",
        "authentication": "genericCredentialType",
        "nodeCredentialType": "httpHeaderAuth",
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        2704,
        300
      ],
      "id": "check-status",
      "name": "Check VEO3 Status"
    },
    {
      "parameters": {
        "jsCode": "// Parse VEO3 status and extract video URI if ready\nconst statusResponse = $input.first().json;\nconst previousData = $('Parse Operation ID').item.json;\nconst chatId = previousData.chatId;\n\nif (statusResponse.done === true) {\n  // Video is ready! Extract URI using regex\n  const responseStr = JSON.stringify(statusResponse.response);\n  const uriMatch = responseStr.match(/\"uri\":\"([^\"]+)\"/);  \n  const videoUri = uriMatch ? uriMatch[1] : null;\n  \n  if (!videoUri) {\n    return [{\n      json: {\n        status: 'ERROR',\n        error: 'Video URI not found in response',\n        shouldRetry: false,\n        chatId: chatId\n      }\n    }];\n  }\n  \n  return [{\n    json: {\n      status: 'DONE',\n      videoUri: videoUri,\n      shouldRetry: false,\n      chatId: chatId,\n      operationName: statusResponse.name,\n      message: '\u2705 Video haz\u0131r! \u0130ndiriliyor...'\n    }\n  }];\n} else {\n  // Still processing, check retry count\n  const retryCount = (previousData.retryCount || 0) + 1;\n  const maxRetries = previousData.maxRetries || 15;\n  \n  if (retryCount >= maxRetries) {\n    return [{\n      json: {\n        status: 'TIMEOUT',\n        error: `Video ${maxRetries} deneme sonras\u0131 haz\u0131r de\u011fil`,\n        shouldRetry: false,\n        chatId: chatId,\n        message: '\u23f1\ufe0f Video \u00fcretimi \u00e7ok uzun s\u00fcrd\u00fc, zaman a\u015f\u0131m\u0131.'\n      }\n    }];\n  }\n  \n  return [{\n    json: {\n      operationName: previousData.operationName,\n      operationId: previousData.operationId,\n      checkUrl: previousData.checkUrl,\n      status: 'PROCESSING',\n      retryCount: retryCount,\n      maxRetries: maxRetries,\n      chatId: chatId,\n      shouldRetry: true,\n      message: `\u23f3 Hala i\u015fleniyor... (${retryCount}/${maxRetries})`\n    }\n  }];\n}"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2928,
        300
      ],
      "id": "parse-status",
      "name": "Parse Video Status"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "retry-condition",
              "leftValue": "={{$json.shouldRetry}}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        3152,
        300
      ],
      "id": "check-retry",
      "name": "Should Retry?"
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{$json.videoUri}}",
        "authentication": "genericCredentialType",
        "nodeCredentialType": "httpHeaderAuth",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file",
              "outputPropertyName": "data"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        3376,
        188
      ],
      "id": "download-video",
      "name": "Download Video",
      "notes": "Download VEO3 generated video using Google AI Studio API key"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://generativelanguage.googleapis.com/v1beta/models/gemini-2.0-flash-exp:generateContent",
        "authentication": "genericCredentialType",
        "nodeCredentialType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({\n  contents: [{\n    parts: [{\n      text: `Sen professional voiceover artist ve viral content yazar\u0131s\u0131n. YouTube'da viral olan bu video i\u00e7in 8 SAN\u0130YEL\u0130K k\u0131sa, \u00e7arp\u0131c\u0131, enerjik bir voiceover scripti yaz.\n\n\ud83d\udcf9 OR\u0130J\u0130NAL VIDEO:\nBa\u015fl\u0131k: ${$('Get Top Video').item.json.title}\nKanal: ${$('Get Top Video').item.json.channelTitle}\nA\u00e7\u0131klama: ${($('Get Top Video').item.json.description || '').substring(0, 150)}\n\n\ud83c\udfa4 VOICEOVER KURALLARI:\n- SADECE 8 SAN\u0130YE! (max 20-25 kelime)\n- Enerjik, dikkat \u00e7ekici ba\u015flang\u0131\u00e7\n- Hook: \u0130lk 2 saniyede insan\u0131 yakala\n- K\u0131sa, vurucu c\u00fcmleler\n- Call to action ile bitir\n- T\u00fcrk\u00e7e olmal\u0131\n- Seslendirmeye uygun (konu\u015fma dili)\n\n\u2705 \u0130Y\u0130 \u00d6RNEKLER:\n\"Bunu g\u00f6rmek zorundas\u0131n! \u0130nan\u0131lmaz bir an\u0131n tam ortas\u0131ndas\u0131n. Ka\u00e7\u0131rma!\"\n\"Dur bir dakika! Az \u00f6nce olan \u015feye inanamayacaks\u0131n. Dikkat et!\"\n\"\u0130\u015fte bu! Tam da arad\u0131\u011f\u0131n \u015fey. Hemen izle!\"\n\n\ud83c\udfaf SADECE SCR\u0130PT\u0130 YAZ (a\u00e7\u0131klama yapma):`\n    }]\n  }],\n  generationConfig: {\n    temperature: 0.9,\n    maxOutputTokens: 128,\n    topP: 0.95\n  }\n}) }}"
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        3600,
        188
      ],
      "id": "gemini-narration",
      "name": "Gemini - Generate Narration"
    },
    {
      "parameters": {
        "jsCode": "// Parse narration script\nconst response = $input.first().json;\nlet narrationScript = '';\n\ntry {\n  if (response.candidates && response.candidates[0]) {\n    narrationScript = response.candidates[0].content.parts[0].text.trim();\n    \n    // Clean up\n    narrationScript = narrationScript.replace(/```[a-z]*\\n?/g, '').trim();\n    narrationScript = narrationScript.replace(/^(Script:|Voiceover:)\\s*/i, '').trim();\n    \n    // Remove quotes if wrapped\n    narrationScript = narrationScript.replace(/^[\"'](.+)[\"']$/, '$1');\n    \n    // Limit to reasonable length for 8 seconds\n    if (narrationScript.length > 200) {\n      narrationScript = narrationScript.substring(0, 197) + '...';\n    }\n  } else {\n    throw new Error('No narration candidates');\n  }\n} catch (error) {\n  narrationScript = '\u0130\u015fte bu! Tam da arad\u0131\u011f\u0131n viral an. Ka\u00e7\u0131rma!';\n  console.log('Gemini narration error, using fallback:', error.message);\n}\n\nreturn [{\n  json: {\n    narrationScript: narrationScript,\n    videoData: $('Download Video').item.json,\n    chatId: $('Parse Video Status').item.json.chatId\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3824,
        188
      ],
      "id": "parse-narration",
      "name": "Parse Narration Script"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.elevenlabs.io/v1/text-to-speech/21m00Tcm4TlvDq8ikWAM",
        "authentication": "genericCredentialType",
        "nodeCredentialType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({\n  text: $json.narrationScript,\n  model_id: 'eleven_turbo_v2_5',\n  voice_settings: {\n    stability: 0.5,\n    similarity_boost: 0.75,\n    style: 0.5,\n    use_speaker_boost: true\n  }\n}) }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file",
              "outputPropertyName": "audio"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        4048,
        188
      ],
      "id": "elevenlabs-tts",
      "name": "ElevenLabs - Text to Speech",
      "notes": "Voice ID: Rachel (21m00Tcm4TlvDq8ikWAM) - Professional, energetic female voice"
    },
    {
      "parameters": {
        "operation": "write",
        "fileName": "/tmp/n8n/veo3_video.mp4",
        "dataPropertyName": "data"
      },
      "type": "n8n-nodes-base.writeBinaryFile",
      "typeVersion": 1,
      "position": [
        3600,
        300
      ],
      "id": "save-video-file",
      "name": "Save VEO3 Video to File"
    },
    {
      "parameters": {
        "operation": "write",
        "fileName": "/tmp/n8n/voiceover.mp3",
        "dataPropertyName": "audio"
      },
      "type": "n8n-nodes-base.writeBinaryFile",
      "typeVersion": 1,
      "position": [
        4272,
        188
      ],
      "id": "save-audio-file",
      "name": "Save Voiceover to File"
    },
    {
      "parameters": {
        "command": "ffmpeg -y -i /tmp/n8n/veo3_video.mp4 -i /tmp/n8n/voiceover.mp3 -map 0:v -map 1:a -c:v copy -c:a aac -b:a 192k -shortest /tmp/n8n/final_video.mp4",
        "options": {}
      },
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        4496,
        188
      ],
      "id": "ffmpeg-merge",
      "name": "FFmpeg: Merge Video + Voiceover",
      "notes": "Merges VEO3 video + ElevenLabs voiceover using system ffmpeg"
    },
    {
      "parameters": {
        "filePath": "/tmp/n8n/final_video.mp4",
        "options": {}
      },
      "type": "n8n-nodes-base.readBinaryFile",
      "typeVersion": 1,
      "position": [
        4720,
        188
      ],
      "id": "read-final-video",
      "name": "Read Final Video"
    },
    {
      "parameters": {
        "operation": "sendVideo",
        "chatId": "={{$env.TELEGRAM_CHAT_ID}}",
        "binaryData": true,
        "binaryProperty": "data",
        "additionalFields": {
          "caption": "={{\"\ud83d\udd25 AI V\u0130RAL V\u0130DEO! \ud83d\udd25\\n\\n\ud83d\udcf9 Kaynak: \" + $('Get Top Video').item.json.title + \"\\n\ud83d\udc64 Kanal: \" + $('Get Top Video').item.json.channelTitle + \"\\n\ud83d\udc41\ufe0f \u0130zlenme: \" + $('Get Top Video').item.json.viewCount.toLocaleString() + \"\\n\\n\ud83e\udd16 VEO 3 Video\\n\ud83c\udfa4 ElevenLabs Voiceover\\n\u23f1\ufe0f 8 saniye\\n\ud83d\udcd0 16:9\\n\\n\ud83d\udcac Narration:\\n\\\"\" + $('Parse Narration Script').item.json.narrationScript + \"\\\"\"}}"
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        4496,
        282
      ],
      "id": "send-final-telegram",
      "name": "Send Final Video to Telegram",
      "credentials": {
        "telegramApi": {
          "id": "telegram-bot",
          "name": "Telegram Bot"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "YouTube Trending",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "YouTube Trending": {
      "main": [
        [
          {
            "node": "Split Videos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Videos": {
      "main": [
        [
          {
            "node": "Filter & Score",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter & Score": {
      "main": [
        [
          {
            "node": "Sort by Score",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sort by Score": {
      "main": [
        [
          {
            "node": "Get Top Video",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Top Video": {
      "main": [
        [
          {
            "node": "Fetch Thumbnail Base64",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Thumbnail Base64": {
      "main": [
        [
          {
            "node": "Gemini Vision - Generate VEO3 Prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gemini Vision - Generate VEO3 Prompt": {
      "main": [
        [
          {
            "node": "Parse VEO3 Prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse VEO3 Prompt": {
      "main": [
        [
          {
            "node": "VEO3 - Start Generation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "VEO3 - Start Generation": {
      "main": [
        [
          {
            "node": "Parse Operation ID",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Operation ID": {
      "main": [
        [
          {
            "node": "Wait 60 Seconds",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait 60 Seconds": {
      "main": [
        [
          {
            "node": "Check VEO3 Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check VEO3 Status": {
      "main": [
        [
          {
            "node": "Parse Video Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Video Status": {
      "main": [
        [
          {
            "node": "Should Retry?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Should Retry?": {
      "main": [
        [
          {
            "node": "Wait 60 Seconds",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Download Video",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download Video": {
      "main": [
        [
          {
            "node": "Save VEO3 Video to File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gemini - Generate Narration": {
      "main": [
        [
          {
            "node": "Parse Narration Script",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Narration Script": {
      "main": [
        [
          {
            "node": "ElevenLabs - Text to Speech",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ElevenLabs - Text to Speech": {
      "main": [
        [
          {
            "node": "Save Voiceover to File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save VEO3 Video to File": {
      "main": [
        [
          {
            "node": "Gemini - Generate Narration",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save Voiceover to File": {
      "main": [
        [
          {
            "node": "FFmpeg: Merge Video + Voiceover",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "FFmpeg: Merge Video + Voiceover": {
      "main": [
        [
          {
            "node": "Read Final Video",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Final Video": {
      "main": [
        [
          {
            "node": "Send Final Video to Telegram",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "initial-version",
  "meta": {
    "instanceId": "b3095fc29cb871b1a1fa62649bfd13016a8a983bdcd4a1523275b8f83ce36cce"
  },
  "tags": []
}