N8N_WORKFLOWS/ARGUS_BUILDER_TEST.json
{
  "name": "ARGUS_BUILDER_TEST",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -384,
        -32
      ],
      "id": "7b098831-5970-4ab4-a314-29a9e23dc568",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://127.0.0.1:3101/argus/build",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\n  \"text\": \"btc nın anlık fiyatını çekip her gün 17:15 te beni ara\"\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -192,
        -32
      ],
      "id": "d46e5664-f352-411d-ad12-69767283b60b",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "ea7aa0c2-7f00-4e7e-8a30-28fc2c3c9b95",
              "leftValue": "={{ $json[\"mode\"].toString().trim() }}\n\n\n",
              "rightValue": "existing_agent",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        16,
        -32
      ],
      "id": "65eb8b77-3a5b-4366-b4f9-62d33130c1d3",
      "name": "If"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "413zTsOE8YlrmiCA",
          "mode": "id",
          "cachedResultUrl": "/workflow/413zTsOE8YlrmiCA"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        304,
        -48
      ],
      "id": "88718cd9-bf37-4a99-86d0-247db0a91a31",
      "name": "Call 'TWILIO ARAMA'"
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Call 'TWILIO ARAMA'",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "bdf5b981-e417-48f8-9f30-bc5e353d038b",
  "meta": {
    "instanceId": "b3095fc29cb871b1a1fa62649bfd13016a8a983bdcd4a1523275b8f83ce36cce"
  },
  "id": "DhE0MgRmhVruYEFf",
  "tags": []
}