N8N_WORKFLOWS/CREW.json
{
  "name": "ARGUS ShipCrewAlert",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 9 * * *"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        240,
        300
      ],
      "id": "schedule-trigger-crew",
      "name": "Every Day at 09:00"
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "ARGUS_Personel",
          "mode": "list",
          "cachedResultName": "ARGUS_Personel"
        },
        "sheetName": {
          "__rl": true,
          "value": "Personel",
          "mode": "list",
          "cachedResultName": "Personel"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "matchingColumns": [],
          "value": {}
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        460,
        300
      ],
      "id": "google-sheets-read",
      "name": "Read Crew Data",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "PLACEHOLDER_GOOGLE_OAUTH",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "operation": "read",
        "documentId": {
          "__rl": true,
          "mode": "list",
          "value": "ARGUS_Personel",
          "cachedResultName": "ARGUS_Personel"
        },
        "sheetName": {
          "__rl": true,
          "mode": "list",
          "value": "Personel",
          "cachedResultName": "Personel"
        },
        "options": {
          "rangeDefinition": "detectAutomatically"
        }
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        460,
        300
      ],
      "id": "google-sheets-read-data",
      "name": "Read Crew Data"
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "// Parse DD.MM.YYYY format dates\nfunction parseDate(dateStr) {\n  if (!dateStr || typeof dateStr !== 'string') return null;\n  const parts = dateStr.trim().split('.');\n  if (parts.length !== 3) return null;\n  const day = parseInt(parts[0], 10);\n  const month = parseInt(parts[1], 10) - 1;\n  const year = parseInt(parts[2], 10);\n  if (isNaN(day) || isNaN(month) || isNaN(year)) return null;\n  return new Date(year, month, day);\n}\n\nfunction getDaysRemaining(dateStr) {\n  const expDate = parseDate(dateStr);\n  if (!expDate) return null;\n  const today = new Date();\n  today.setHours(0, 0, 0, 0);\n  expDate.setHours(0, 0, 0, 0);\n  const diff = expDate - today;\n  return Math.floor(diff / (1000 * 60 * 60 * 24));\n}\n\nconst items = $input.all();\nconst alerts = [];\n\nconst expirationColumns = [\n  'Pasaport Bitiş',\n  'Cüzdan Bitiş',\n  'Sağlık Raporu',\n  'ABD Vizesi',\n  'Schengen Vizesi',\n  'STCW-1 Temel Güv.',\n  'STCW-2 Can Kur.',\n  'STCW-3 İleri Yangın',\n  'STCW-4 İlk Yardım',\n  'STCW-5 Güvenlik',\n  'STCW-6 BRM/ERM',\n  'STCW-7 ECDIS/HV',\n  'STCW-8 Tanker'\n];\n\nfor (const item of items) {\n  const person = item.json;\n  const name = person['Ad Soyad'] || 'Bilinmeyen';\n  const role = person['Görevi'] || '';\n  \n  for (const column of expirationColumns) {\n    const dateValue = person[column];\n    if (!dateValue) continue;\n    \n    const daysRemaining = getDaysRemaining(dateValue);\n    if (daysRemaining === null) continue;\n    \n    // Trigger alerts exactly when remaining days are 90, 60 or 30\n    if (daysRemaining === 90 || daysRemaining === 60 || daysRemaining === 30) {\n      alerts.push({\n        name: name,\n        role: role,\n        document: column,\n        expiryDate: dateValue,\n        daysRemaining: daysRemaining\n      });\n    }\n  }\n}\n\nreturn [{ json: { alerts: alerts, alertCount: alerts.length } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        680,
        300
      ],
      "id": "process-expiration-dates",
      "name": "Check Expiration Dates"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "check-alerts-exist",
              "leftValue": "={{ $json.alertCount }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        900,
        300
      ],
      "id": "check-if-alerts-exist",
      "name": "Alerts Exist?"
    },
    {
      "parameters": {
        "jsCode": "const alerts = $json.alerts;\n\nif (!alerts || alerts.length === 0) {\n  return [{ json: { message: 'No alerts today' } }];\n}\n\nlet message = '🚨 ARGUS ShipCrewAlert – Günlük Expire Raporu\\n\\n';\n\nfor (const alert of alerts) {\n  message += `👤 ${alert.name}`;\n  if (alert.role) {\n    message += ` (${alert.role})`;\n  }\n  message += '\\n';\n  message += `📄 Belge: ${alert.document}\\n`;\n  message += `📅 Bitiş Tarihi: ${alert.expiryDate}\\n`;\n  message += `⏰ Kalan Gün: ${alert.daysRemaining}\\n\\n`;\n}\n\nmessage += '— ARGUS ShipControl';\n\nreturn [{ json: { message: message } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1120,
        200
      ],
      "id": "build-telegram-message",
      "name": "Build Telegram Message"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.telegram.org/bot{{$env.TELEGRAM_BOT_TOKEN}}/sendMessage",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "chat_id",
              "value": "1496380263"
            },
            {
              "name": "text",
              "value": "={{ $json.message }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        1340,
        200
      ],
      "id": "send-telegram-alert",
      "name": "Send Telegram Alert"
    }
  ],
  "pinData": {},
  "connections": {
    "Every Day at 09:00": {
      "main": [
        [
          {
            "node": "Read Crew Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Crew Data": {
      "main": [
        [
          {
            "node": "Check Expiration Dates",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Expiration Dates": {
      "main": [
        [
          {
            "node": "Alerts Exist?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Alerts Exist?": {
      "main": [
        [
          {
            "node": "Build Telegram Message",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Build Telegram Message": {
      "main": [
        [
          {
            "node": "Send Telegram Alert",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "timezone": "Europe/Istanbul"
  },
  "versionId": "crew-alert-v1",
  "meta": {
    "templateCredsSetupCompleted": false,
    "instanceId": "b3095fc29cb871b1a1fa62649bfd13016a8a983bdcd4a1523275b8f83ce36cce",
    "description": "ARGUS ShipCrewAlert - Daily crew document expiration monitoring"
  },
  "tags": []
}
