N8N_WORKFLOWS/STORMSFOTO.json
{
  "name": "stormsfoto",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "save-data",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -80,
        -32
      ],
      "id": "7c4c5ddd-6b81-40da-a260-22d3a454c369",
      "name": "Webhook",
      "webhookId": "e69616ac-48bb-490a-a37e-43df406b0eca"
    },
    {
      "parameters": {
        "jsCode": "// Gelen veriyi al ve JSON string'e çevir\nconst data = $input.first().json.body;\n\n// JSON'u güzel formatla (pretty print)\nconst jsonString = JSON.stringify(data, null, 2);\n\n// Binary data olarak döndür (n8n'in dosyaya yazması için)\nreturn [\n  {\n    json: {\n      fileName: 'db.json',\n      dataSize: jsonString.length\n    },\n    binary: {\n      data: {\n        data: Buffer.from(jsonString, 'utf8').toString('base64'),\n        mimeType: 'application/json',\n        fileName: 'db.json'\n      }\n    }\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        128,
        -32
      ],
      "id": "8182c483-0173-45f0-8903-b0123b54c4af",
      "name": "Prepare JSON"
    },
    {
      "parameters": {
        "operation": "write",
        "fileName": "=/var/www/html/db.json",
        "options": {}
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [
        288,
        -32
      ],
      "id": "048401cd-8043-44c1-a655-e7f63dc0fadf",
      "name": "Write to Disk"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={ \"status\": \"success\", \"saved\": true, \"size\": $json.dataSize }",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              },
              {
                "name": "Access-Control-Allow-Methods",
                "value": "POST, GET, OPTIONS"
              },
              {
                "name": "Access-Control-Allow-Headers",
                "value": "Content-Type"
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        448,
        -32
      ],
      "id": "ec66e852-1c0d-46f1-b106-b6e915c204c5",
      "name": "Respond to Webhook"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Prepare JSON",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare JSON": {
      "main": [
        [
          {
            "node": "Write to Disk",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Write to Disk": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "versionId": "3d010df3-1013-40c0-b5ba-5a9f01adfcb5",
  "meta": {
    "instanceId": "b3095fc29cb871b1a1fa62649bfd13016a8a983bdcd4a1523275b8f83ce36cce"
  },
  "id": "L37oS91v4QNN8Urb",
  "tags": []
}
