N8N_WORKFLOWS/YOUTUBE_UPLOAD_APPROVER.json
{
  "name": "YouTube Upload Approver",
  "nodes": [
    {
      "parameters": {
        "updates": ["message"]
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1,
      "position": [240, 400],
      "webhookId": "telegram-approval-trigger",
      "id": "telegram-trigger",
      "name": "Telegram Trigger",
      "credentials": {
        "telegramApi": {
          "id": "TELEGRAM_CREDENTIAL_ID",
          "name": "Telegram Bot"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Check if message is YAYINLA or İPTAL\nconst messageText = $json.message?.text?.trim().toUpperCase() || '';\n\nconsole.log('📩 Received message:', messageText);\n\nif (messageText === 'YAYINLA') {\n  return [{ json: { action: 'approve', chatId: $json.message.chat.id } }];\n} else if (messageText === 'İPTAL' || messageText === 'IPTAL') {\n  return [{ json: { action: 'cancel', chatId: $json.message.chat.id } }];\n} else {\n  // Ignore other messages\n  return [];\n}"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [460, 400],
      "id": "check-message",
      "name": "Check Message Text"
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{$json.action}}",
              "operation": "equals",
              "value2": "approve"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [680, 400],
      "id": "route-action",
      "name": "Route Action"
    },
    {
      "parameters": {
        "filePath": "/tmp/pending_metadata.json"
      },
      "type": "n8n-nodes-base.readBinaryFile",
      "typeVersion": 1,
      "position": [900, 300],
      "id": "read-metadata-file",
      "name": "Read Metadata File"
    },
    {
      "parameters": {
        "jsCode": "// Parse JSON from binary data - handle base64 encoding\nconst input = $input.first();\nlet binaryData = input.binary.data?.data || input.binary.data;\n\nlet jsonText;\n\n// Check if it's a base64 string\nif (typeof binaryData === 'string' && /^[A-Za-z0-9+/=]+$/.test(binaryData)) {\n  const buffer = Buffer.from(binaryData, 'base64');\n  jsonText = buffer.toString('utf-8');\n} else if (Buffer.isBuffer(binaryData)) {\n  jsonText = binaryData.toString('utf-8');\n} else if (typeof binaryData === 'object') {\n  jsonText = JSON.stringify(binaryData);\n} else {\n  jsonText = String(binaryData);\n}\n\nconsole.log('DEBUG jsonText:', jsonText);\n\nconst metadata = JSON.parse(jsonText);\n\nreturn [{\n  json: metadata\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1120, 300],
      "id": "parse-metadata",
      "name": "Parse Metadata JSON"
    },
    {
      "parameters": {
        "filePath": "/tmp/pending_video.mp4"
      },
      "type": "n8n-nodes-base.readBinaryFile",
      "typeVersion": 1,
      "position": [1340, 300],
      "id": "read-video",
      "name": "Read Saved Video"
    },
    {
      "parameters": {
        "jsCode": "// Fix MIME type for YouTube - it requires 'video/mp4' not 'application/mp4'\nconst input = $input.first();\nconst metadata = $('Parse Metadata JSON').first().json;\n\nif (!input.binary || !input.binary.data) {\n  throw new Error('❌ Video binary data bulunamadı!');\n}\n\n// Get the binary data and fix MIME type\nconst binaryData = input.binary.data;\nconst fixedBinary = {\n  data: {\n    ...binaryData,\n    mimeType: 'video/mp4',\n    fileName: 'video.mp4'\n  }\n};\n\nconsole.log('🎬 Video MIME type fixed:', fixedBinary.data.mimeType);\n\nreturn [{\n  json: metadata,\n  binary: fixedBinary\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1560, 300],
      "id": "fix-mime",
      "name": "Fix Video MIME Type"
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "resource": "video",
        "operation": "upload",
        "title": "={{$json.title}}",
        "categoryId": "22",
        "description": "={{$json.description}}",
        "privacyStatus": "public",
        "tags": "={{$json.keywords ? $json.keywords.join(',') : ''}}"
      },
      "type": "n8n-nodes-base.youTube",
      "typeVersion": 1,
      "position": [1780, 300],
      "id": "upload",
      "name": "YouTube Upload"
    },
    {
      "parameters": {
        "resource": "message",
        "operation": "sendMessage",
        "chatId": "={{$env.TELEGRAM_CHAT_ID}}",
        "text": "=✅ Video YouTube'a upload edildi!\n\n📌 Başlık: {{$('Parse Metadata JSON').first().json.title}}\n\n🎬 Video başarıyla yayınlandı!",
        "options": {
          "timeout": 30000
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1,
      "position": [2000, 300],
      "id": "telegram-success",
      "name": "Telegram: Upload Success",
      "credentials": {
        "telegramApi": {
          "id": "TELEGRAM_CREDENTIAL_ID",
          "name": "Telegram Bot"
        }
      },
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 2000
    },
    {
      "parameters": {
        "command": "rm -f /tmp/pending_video.mp4 /tmp/pending_metadata.json /tmp/preview.mp4",
        "options": {}
      },
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [2220, 300],
      "id": "cleanup",
      "name": "Cleanup Temp Files"
    },
    {
      "parameters": {
        "resource": "message",
        "operation": "sendMessage",
        "chatId": "={{$env.TELEGRAM_CHAT_ID}}",
        "text": "❌ İptal edildi. Video silinecek."
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1,
      "position": [900, 500],
      "id": "telegram-cancel",
      "name": "Telegram: Cancelled",
      "credentials": {
        "telegramApi": {
          "id": "TELEGRAM_CREDENTIAL_ID",
          "name": "Telegram Bot"
        }
      }
    },
    {
      "parameters": {
        "command": "rm -f /tmp/pending_video.mp4 /tmp/pending_metadata.json /tmp/preview.mp4",
        "options": {}
      },
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [1120, 500],
      "id": "cleanup-cancel",
      "name": "Cleanup on Cancel"
    }
  ],
  "connections": {
    "Telegram Trigger": {"main": [[{"node": "Check Message Text", "type": "main", "index": 0}]]},
    "Check Message Text": {"main": [[{"node": "Route Action", "type": "main", "index": 0}]]},
    "Route Action": {
      "main": [
        [{"node": "Read Metadata File", "type": "main", "index": 0}],
        [{"node": "Telegram: Cancelled", "type": "main", "index": 0}]
      ]
    },
    "Read Metadata File": {"main": [[{"node": "Parse Metadata JSON", "type": "main", "index": 0}]]},
    "Parse Metadata JSON": {"main": [[{"node": "Read Saved Video", "type": "main", "index": 0}]]},
    "Read Saved Video": {"main": [[{"node": "Fix Video MIME Type", "type": "main", "index": 0}]]},
    "Fix Video MIME Type": {"main": [[{"node": "YouTube Upload", "type": "main", "index": 0}]]},
    "YouTube Upload": {"main": [[{"node": "Telegram: Upload Success", "type": "main", "index": 0}]]},
    "Telegram: Upload Success": {"main": [[{"node": "Cleanup Temp Files", "type": "main", "index": 0}]]},
    "Telegram: Cancelled": {"main": [[{"node": "Cleanup on Cancel", "type": "main", "index": 0}]]}
  },
  "pinData": {},
  "settings": {"executionOrder": "v1"},
  "active": false
}
