N8N_WORKFLOWS/YOUTUBE_VIRAL_MACHINE_TTS_SLIDESHOW.json
{
  "name": "YouTube VIRAL Machine - TTS + Slideshow",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [{"field": "hours", "hoursInterval": 6}]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [200, 400],
      "id": "schedule",
      "name": "Every 6 Hours"
    },
    {
      "parameters": {
        "url": "https://www.googleapis.com/youtube/v3/videos",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {"name": "chart", "value": "mostPopular"},
            {"name": "regionCode", "value": "TR"},
            {"name": "maxResults", "value": "50"},
            {"name": "part", "value": "snippet,statistics,contentDetails"},
            {"name": "key", "value": "={{$env.YOUTUBE_API_KEY}}"}
          ]
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [400, 400],
      "id": "yt-trends",
      "name": "YouTube Trends"
    },
    {
      "parameters": {
        "jsCode": "const items = $json.items || [];\nreturn items.map(item => ({ json: item }));"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [600, 400],
      "id": "split",
      "name": "Split"
    },
    {
      "parameters": {
        "jsCode": "const publishedAt = new Date($json.snippet.publishedAt);\nconst now = new Date();\nconst hoursDiff = (now - publishedAt) / (1000 * 60 * 60);\n\nif (hoursDiff > 72) return [];\n\nconst views = Number($json.statistics.viewCount) || 0;\nconst likes = Number($json.statistics.likeCount) || 0;\nconst comments = Number($json.statistics.commentCount) || 0;\nconst engagementRate = views > 0 ? ((likes + comments) / views) * 100 : 0;\nconst ageBonus = hoursDiff < 12 ? 2 : 1;\nconst viralScore = (views * 0.5 * ageBonus) + (likes * 30) + (comments * 50) + (engagementRate * 1000);\n\nreturn [{\n  json: {\n    videoId: $json.id,\n    title: $json.snippet.title,\n    description: $json.snippet.description,\n    channel: $json.snippet.channelTitle,\n    thumbnail: $json.snippet.thumbnails?.maxres?.url || $json.snippet.thumbnails?.high?.url,\n    viewCount: views,\n    likeCount: likes,\n    commentCount: comments,\n    viralScore: Math.round(viralScore),\n    hoursOld: hoursDiff.toFixed(1),\n    tags: $json.snippet.tags || []\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [800, 400],
      "id": "filter",
      "name": "Filter & Score"
    },
    {
      "parameters": {
        "sortFieldsUi": {
          "sortField": [{"fieldName": "viralScore", "order": "descending"}]
        }
      },
      "type": "n8n-nodes-base.sort",
      "typeVersion": 1,
      "position": [1000, 400],
      "id": "sort",
      "name": "Sort"
    },
    {
      "parameters": {"maxItems": 1},
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [1200, 400],
      "id": "top1",
      "name": "Top 1"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.anthropic.com/v1/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {"name": "x-api-key", "value": "={{$env.ANTHROPIC_API_KEY}}"},
            {"name": "anthropic-version", "value": "2023-06-01"},
            {"name": "Content-Type", "value": "application/json"}
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({\n  model: 'claude-sonnet-4-5-20250929',\n  max_tokens: 4096,\n  messages: [{\n    role: 'user',\n    content: `VİRAL VİDEO: ${$json.title}\n\nBu videoya benzer KISA (60 saniye) bir video script'i yaz. TÜRKÇE yaz!\n\nJSON formatında:\n{\n  \"title\": \"Clickbait başlık (max 60 char, TÜRKÇE)\",\n  \"script\": \"60 saniyelik TÜRKÇE konuşma metni (enerjik ve ilgi çekici)\",\n  \"description\": \"YouTube açıklama (TÜRKÇE)\",\n  \"hashtags\": [\"#tag1\", \"#tag2\", ...],\n  \"keywords\": [\"keyword1\", ...],\n  \"videoKeywords\": [\"4 adet İNGİLİZCE video search keyword - örnek: fitness workout, happy people, modern office, city street\"],\n  \"thumbnailPrompt\": \"Professional, cinematic, realistic photograph (NOT anime, NOT cartoon). Describe a real photo that would make people click.\"\n}\n\nÖNEMLİ: videoKeywords İNGİLİZCE olmalı çünkü Pexels stock footage araması için kullanılacak!`\n  }]\n}) }}"
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [1400, 400],
      "id": "ai-script",
      "name": "AI Script"
    },
    {
      "parameters": {
        "jsCode": "const aiResponse = $json.content?.[0]?.text || '{}';\nconst original = $input.first().json;\n\nlet content = {};\ntry {\n  const jsonMatch = aiResponse.match(/\\{[\\s\\S]*\\}/);\n  content = jsonMatch ? JSON.parse(jsonMatch[0]) : {};\n} catch (e) {\n  content = {};\n}\n\nreturn [{\n  json: {\n    originalVideoId: original.videoId,\n    title: content.title || 'Viral Video',\n    script: content.script || 'Script burada...',\n    description: content.description || '',\n    hashtags: content.hashtags || [],\n    keywords: content.keywords || [],\n    videoKeywords: content.videoKeywords || ['people', 'lifestyle', 'modern', 'city'],\n    thumbnailPrompt: content.thumbnailPrompt || 'YouTube thumbnail'\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1600, 400],
      "id": "parse",
      "name": "Parse"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.elevenlabs.io/v1/text-to-speech/onwK4e9ZLuTAKqWW03F9",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({\n  text: $json.script,\n  model_id: 'eleven_multilingual_v2',\n  voice_settings: {\n    stability: 0.5,\n    similarity_boost: 0.8,\n    style: 0.5,\n    use_speaker_boost: true\n  }\n}) }}",
        "options": {
          "response": {"response": {"responseFormat": "file"}}
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [1800, 300],
      "id": "tts",
      "name": "ElevenLabs TTS",
      "credentials": {
        "httpHeaderAuth": {
          "id": "ELEVENLABS_CREDENTIAL_ID",
          "name": "ElevenLabs API"
        }
      }
    },
    {
      "parameters": {
        "method": "GET",
        "url": "=https://api.pexels.com/videos/search?query={{$json.videoKeywords[0]}}&per_page=1&orientation=landscape",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {"name": "Authorization", "value": "={{$env.PEXELS_API_KEY}}"}
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [1800, 500],
      "id": "pexels-search",
      "name": "Pexels Search"
    },
    {
      "parameters": {
        "jsCode": "const videoUrl = $json.videos?.[0]?.video_files?.find(f => f.quality === 'hd' && f.width === 1920)?.link || $json.videos?.[0]?.video_files?.[0]?.link;\nif (!videoUrl) throw new Error('No Pexels video found!');\nreturn [{ json: { videoUrl } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2000, 500],
      "id": "extract-video-url",
      "name": "Extract Video URL"
    },
    {
      "parameters": {
        "url": "={{$json.videoUrl}}",
        "options": {
          "response": {"response": {"responseFormat": "file"}}
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [2200, 500],
      "id": "download-video",
      "name": "Download Video"
    },
    {
      "parameters": {
        "fileName": "/tmp/pexels_video.mp4",
        "options": {}
      },
      "type": "n8n-nodes-base.writeBinaryFile",
      "typeVersion": 1,
      "position": [2400, 500],
      "id": "save-pexels-video",
      "name": "Save Pexels Video"
    },
    {
      "parameters": {
        "fileName": "/tmp/audio.mp3",
        "options": {}
      },
      "type": "n8n-nodes-base.writeBinaryFile",
      "typeVersion": 1,
      "position": [2000, 300],
      "id": "save-audio",
      "name": "Save Audio"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineAll"
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [2600, 400],
      "id": "merge-files",
      "name": "Merge Files"
    },
    {
      "parameters": {
        "command": "=ffmpeg -y -i /tmp/pexels_video.mp4 -i /tmp/audio.mp3 -map 0:v -map 1:a -c:v copy -c:a aac -b:a 192k -shortest /tmp/video.mp4",
        "options": {}
      },
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [2800, 400],
      "id": "ffmpeg",
      "name": "FFmpeg: Add Voiceover"
    },
    {
      "parameters": {
        "filePath": "/tmp/video.mp4",
        "options": {}
      },
      "type": "n8n-nodes-base.readBinaryFile",
      "typeVersion": 1,
      "position": [3000, 400],
      "id": "read-video",
      "name": "Read Video File"
    },
    {
      "parameters": {
        "jsCode": "// Get metadata directly from Parse node (no timing issues)\nconst parseData = $('Parse').first().json;\n\n// Get video binary from current input (Read Video File)\nconst videoBinary = $input.first().binary;\n\nconsole.log('DEBUG Parse metadata:', {\n  hasTitle: !!parseData.title,\n  hasScript: !!parseData.script,\n  hasDescription: !!parseData.description\n});\n\nconsole.log('DEBUG Video binary:', {\n  hasBinary: !!videoBinary,\n  hasData: !!(videoBinary && videoBinary.data)\n});\n\nif (!parseData || !parseData.title) {\n  throw new Error('❌ Metadata bulunamadı! Parse node verisi okunamadı.');\n}\n\nif (!videoBinary || !videoBinary.data) {\n  throw new Error('❌ Video binary bulunamadı! Read Video File çıktısı yok.');\n}\n\n// Return combined data\nreturn [{\n  json: {\n    title: parseData.title,\n    description: parseData.description,\n    keywords: parseData.keywords || ['viral', 'trending'],\n    script: parseData.script\n  },\n  binary: {\n    data: videoBinary.data\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [3200, 400],
      "id": "merge-metadata",
      "name": "Merge Metadata & Video"
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "resource": "video",
        "operation": "upload",
        "title": "={{$json.title}}",
        "categoryId": "22",
        "description": "={{$json.description}}",
        "privacyStatus": "public",
        "tags": "={{$json.keywords ? $json.keywords.join(',') : ''}}"
      },
      "type": "n8n-nodes-base.youTube",
      "typeVersion": 1,
      "position": [3400, 400],
      "id": "upload",
      "name": "YouTube Upload"
    }
  ],
  "connections": {
    "Every 6 Hours": {"main": [[{"node": "YouTube Trends", "type": "main", "index": 0}]]},
    "YouTube Trends": {"main": [[{"node": "Split", "type": "main", "index": 0}]]},
    "Split": {"main": [[{"node": "Filter & Score", "type": "main", "index": 0}]]},
    "Filter & Score": {"main": [[{"node": "Sort", "type": "main", "index": 0}]]},
    "Sort": {"main": [[{"node": "Top 1", "type": "main", "index": 0}]]},
    "Top 1": {"main": [[{"node": "AI Script", "type": "main", "index": 0}]]},
    "AI Script": {"main": [[{"node": "Parse", "type": "main", "index": 0}]]},
    "Parse": {"main": [[
      {"node": "ElevenLabs TTS", "type": "main", "index": 0},
      {"node": "Pexels Search", "type": "main", "index": 0}
    ]]},
    "ElevenLabs TTS": {"main": [[{"node": "Save Audio", "type": "main", "index": 0}]]},
    "Pexels Search": {"main": [[{"node": "Extract Video URL", "type": "main", "index": 0}]]},
    "Extract Video URL": {"main": [[{"node": "Download Video", "type": "main", "index": 0}]]},
    "Download Video": {"main": [[{"node": "Save Pexels Video", "type": "main", "index": 0}]]},
    "Save Audio": {"main": [[{"node": "Merge Files", "type": "main", "index": 0}]]},
    "Save Pexels Video": {"main": [[{"node": "Merge Files", "type": "main", "index": 1}]]},
    "Merge Files": {"main": [[{"node": "FFmpeg: Add Voiceover", "type": "main", "index": 0}]]},
    "FFmpeg: Add Voiceover": {"main": [[{"node": "Read Video File", "type": "main", "index": 0}]]},
    "Read Video File": {"main": [[{"node": "Merge Metadata & Video", "type": "main", "index": 1}]]},
    "Merge Metadata & Video": {"main": [[{"node": "YouTube Upload", "type": "main", "index": 0}]]}
  },
  "pinData": {},
  "settings": {"executionOrder": "v1"},
  "active": false
}
