N8N_WORKFLOWS/ÜRETİM HATTI.json
{
  "name": "ÜRETİM HATTI",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "tools/create_n8n_flow",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [240, 300],
      "id": "webhook-create-flow",
      "name": "TOOL_create_n8n_flow",
      "webhookId": "b145b66e-4470-419c-a0a2-83b4aa5c206d"
    },
    {
      "parameters": {
        "jsCode": "const req = $input.first().json;\nconst body = req.body || {};\nconst desc = (body.description || 'Açıklama yok').toLowerCase();\nconst name = body.workflowName || 'ARGUS auto: Akış';\n\nfunction generateId() {\n  return Math.random().toString(36).substring(2, 15) + Math.random().toString(36).substring(2, 15);\n}\n\nfunction getTypeVersion(type) {\n  switch (type) {\n    case 'n8n-nodes-base.httpRequest': return 4.3;\n    case 'n8n-nodes-base.code': return 2;\n    case 'n8n-nodes-base.manualTrigger':\n    case 'n8n-nodes-base.scheduleTrigger': return 1;\n    default: return 1;\n  }\n}\n\nfunction createNode(type, nodeName, position, parameters, id = null) {\n  return {\n    parameters,\n    type,\n    typeVersion: getTypeVersion(type),\n    position,\n    id: id || generateId(),\n    name: nodeName\n  };\n}\n\nlet nodes = [];\nlet connections = {};\nlet currentX = 240;\nconst Y = 300;\nconst SPACING = 220;\n\nconst isScheduled = /her (gün|saat|dakika|hafta)|günlük|saatlik|zamanlanmış|cron|\\d{1,2}:\\d{2}/i.test(desc);\nconst isCrypto = /bitcoin|btc|eth|ethereum|kripto|coin/i.test(desc);\nconst isTelegram = /telegram|mesaj gönder|bildirim/i.test(desc);\nconst isTwilio = /ara|arama|twilio|telefon|sesli/i.test(desc);\nconst isYouTube = /youtube|video/i.test(desc);\nconst isEmail = /mail|e-posta|gmail/i.test(desc);\n\nlet triggerNode;\nif (isScheduled) {\n  let cronExpression = '0 9 * * *';\n  const hourMatch = desc.match(/(\\d{1,2}):(\\d{2})/);\n  if (hourMatch) {\n    cronExpression = `${hourMatch[2]} ${hourMatch[1]} * * *`;\n  }\n  triggerNode = createNode('n8n-nodes-base.scheduleTrigger', 'Schedule Trigger', [currentX, Y], {\n    rule: { interval: [{ field: 'cronExpression', expression: cronExpression }] }\n  });\n} else {\n  triggerNode = createNode('n8n-nodes-base.manualTrigger', \"When clicking 'Execute workflow'\", [currentX, Y], {});\n}\n\nnodes.push(triggerNode);\nlet previousNodeName = triggerNode.name;\ncurrentX += SPACING;\n\nif (isYouTube) {\n  const youtubeNode = createNode('n8n-nodes-base.httpRequest', 'YouTube API - En Çok İzlenen', [currentX, Y], {\n    method: 'GET',\n    url: 'https://www.googleapis.com/youtube/v3/search',\n    sendQuery: true,\n    queryParameters: {\n      parameters: [\n        { name: 'part', value: 'snippet' },\n        { name: 'type', value: 'video' },\n        { name: 'order', value: 'viewCount' },\n        { name: 'publishedAfter', value: '={{new Date(Date.now() - 24*60*60*1000).toISOString()}}' },\n        { name: 'maxResults', value: '3' },\n        { name: 'regionCode', value: 'TR' },\n        { name: 'key', value: '={{$env.YOUTUBE_API_KEY}}' }\n      ]\n    },\n    options: { response: { response: { responseFormat: 'json' } } }\n  });\n  nodes.push(youtubeNode);\n  connections[previousNodeName] = { main: [[{ node: youtubeNode.name, type: 'main', index: 0 }]] };\n  previousNodeName = youtubeNode.name;\n  currentX += SPACING;\n\n  const parseNode = createNode('n8n-nodes-base.code', 'Video Listesi Hazırla', [currentX, Y], {\n    jsCode: `const items = $json.items || [];\\nconst videos = items.slice(0, 3).map((v, i) => ({\\n  index: i + 1,\\n  title: v.snippet.title,\\n  channel: v.snippet.channelTitle,\\n  description: v.snippet.description\\n}));\\nreturn videos.map(v => ({ json: v }));`\n  });\n  nodes.push(parseNode);\n  connections[previousNodeName] = { main: [[{ node: parseNode.name, type: 'main', index: 0 }]] };\n  previousNodeName = parseNode.name;\n  currentX += SPACING;\n\n  if (desc.includes('benzeri') || desc.includes('benzer') || desc.includes('üret')) {\n    const aiNode = createNode('n8n-nodes-base.httpRequest', 'Claude AI - Benzeri Konsept', [currentX, Y], {\n      method: 'POST',\n      url: 'https://api.anthropic.com/v1/messages',\n      sendHeaders: true,\n      headerParameters: {\n        parameters: [\n          { name: 'x-api-key', value: '={{$env.ANTHROPIC_API_KEY}}' },\n          { name: 'anthropic-version', value: '2023-06-01' },\n          { name: 'Content-Type', value: 'application/json' }\n        ]\n      },\n      sendBody: true,\n      specifyBody: 'json',\n      jsonBody: `={{ JSON.stringify({\\n  model: 'claude-sonnet-4-5-20250929',\\n  max_tokens: 1024,\\n  messages: [{\\n    role: 'user',\\n    content: 'Video: ' + $json.title + '\\\\nKanal: ' + $json.channel + '\\\\nAçıklama: ' + $json.description + '\\\\n\\\\nBu videoya benzer 3 video konsepti öner (kısa başlıklar).'\\n  }]\\n}) }}`,\n      options: {}\n    });\n    nodes.push(aiNode);\n    connections[previousNodeName] = { main: [[{ node: aiNode.name, type: 'main', index: 0 }]] };\n    previousNodeName = aiNode.name;\n    currentX += SPACING;\n\n    const formatNode = createNode('n8n-nodes-base.code', 'AI Cevabını Formatla', [currentX, Y], {\n      jsCode: `const items = $input.all();\\nlet message = '🎬 YouTube Trend Analizi\\\\n\\\\n';\\nitems.forEach((item, i) => {\\n  const aiResponse = item.json.content?.[0]?.text || 'AI cevap vermedi';\\n  message += \\`Video \\${i+1}: \\${aiResponse}\\\\n\\\\n\\`;\\n});\\nreturn [{ json: { message } }];`\n    });\n    nodes.push(formatNode);\n    connections[previousNodeName] = { main: [[{ node: formatNode.name, type: 'main', index: 0 }]] };\n    previousNodeName = formatNode.name;\n    currentX += SPACING;\n  } else {\n    const simpleFormatNode = createNode('n8n-nodes-base.code', 'Basit Format', [currentX, Y], {\n      jsCode: `const items = $input.all();\\nconst message = 'Son 24 saatte en çok izlenen videolar:\\\\n' + items.map(i => \\`\\${i.json.index}. \\${i.json.title}\\`).join('\\\\n');\\nreturn [{ json: { message } }];`\n    });\n    nodes.push(simpleFormatNode);\n    connections[previousNodeName] = { main: [[{ node: simpleFormatNode.name, type: 'main', index: 0 }]] };\n    previousNodeName = simpleFormatNode.name;\n    currentX += SPACING;\n  }\n} else if (isCrypto) {\n  const cryptoId = /bitcoin|btc/i.test(desc) ? 'bitcoin' : 'ethereum';\n  const dataNode = createNode('n8n-nodes-base.httpRequest', 'Fetch Crypto Price', [currentX, Y], {\n    method: 'GET',\n    url: `https://api.coingecko.com/api/v3/simple/price?ids=${cryptoId}&vs_currencies=try`,\n    options: { response: { response: { responseFormat: 'json' } } }\n  });\n  nodes.push(dataNode);\n  connections[previousNodeName] = { main: [[{ node: dataNode.name, type: 'main', index: 0 }]] };\n  previousNodeName = dataNode.name;\n  currentX += SPACING;\n\n  const processNode = createNode('n8n-nodes-base.code', 'Process Crypto Data', [currentX, Y], {\n    jsCode: `const data = $json;\\nconst cryptoName = Object.keys(data)[0];\\nconst price = data[cryptoName].try;\\nconst message = '💰 ' + cryptoName.toUpperCase() + ' fiyatı: ' + price + ' TL';\\nreturn [{ json: { message } }];`\n  });\n  nodes.push(processNode);\n  connections[previousNodeName] = { main: [[{ node: processNode.name, type: 'main', index: 0 }]] };\n  previousNodeName = processNode.name;\n  currentX += SPACING;\n}\n\nif (isTwilio) {\n  const twilioDataNode = createNode('n8n-nodes-base.code', 'Twilio Data Hazırla', [currentX, Y], {\n    jsCode: `const to = process.env.ALERT_TARGET_NUMBER;\\nconst from = process.env.TWILIO_PHONE_NUMBER;\\nconst message = $json.message || 'Bildirim';\\nconst twiml = '<Response><Say language=\"tr-TR\">' + message + '</Say></Response>';\\nreturn [{ json: { to, from, twiml } }];`\n  });\n  nodes.push(twilioDataNode);\n  connections[previousNodeName] = { main: [[{ node: twilioDataNode.name, type: 'main', index: 0 }]] };\n  previousNodeName = twilioDataNode.name;\n  currentX += SPACING;\n\n  const twilioCallNode = createNode('n8n-nodes-base.httpRequest', 'Twilio Call', [currentX, Y], {\n    method: 'POST',\n    url: '=https://api.twilio.com/2010-04-01/Accounts/{{$env.TWILIO_ACCOUNT_SID}}/Calls.json',\n    authentication: 'genericCredentialType',\n    genericAuthType: 'httpBasicAuth',\n    sendBody: true,\n    contentType: 'raw',\n    rawContentType: '=application/x-www-form-urlencoded',\n    body: `={{ 'To=' + encodeURIComponent($json.to) + '&From=' + encodeURIComponent($json.from) + '&Twiml=' + encodeURIComponent($json.twiml) }}`,\n    options: {}\n  });\n  twilioCallNode.credentials = { httpBasicAuth: { id: 'Tn2UknHXfLcUtpyN', name: 'Twilio Credentials' } };\n  nodes.push(twilioCallNode);\n  connections[previousNodeName] = { main: [[{ node: twilioCallNode.name, type: 'main', index: 0 }]] };\n  previousNodeName = twilioCallNode.name;\n  currentX += SPACING;\n}\n\nif (isTelegram) {\n  const telegramNode = createNode('n8n-nodes-base.httpRequest', 'Send Telegram Message', [currentX, Y], {\n    method: 'POST',\n    url: '=https://api.telegram.org/bot{{$env.TELEGRAM_BOT_TOKEN}}/sendMessage',\n    sendBody: true,\n    bodyParameters: {\n      parameters: [\n        { name: 'chat_id', value: '1496380263' },\n        { name: 'text', value: '={{$json.message || \"Test mesajı\"}}' }\n      ]\n    },\n    options: {}\n  });\n  nodes.push(telegramNode);\n  connections[previousNodeName] = { main: [[{ node: telegramNode.name, type: 'main', index: 0 }]] };\n  previousNodeName = telegramNode.name;\n  currentX += SPACING;\n}\n\nif (!isTelegram && !isTwilio && !isCrypto && !isYouTube) {\n  const placeholderNode = createNode('n8n-nodes-base.code', 'Process Data', [currentX, Y], {\n    jsCode: `return $input.all();`\n  });\n  nodes.push(placeholderNode);\n  connections[previousNodeName] = { main: [[{ node: placeholderNode.name, type: 'main', index: 0 }]] };\n}\n\nconst apiWorkflow = { name, nodes, connections, settings: {}, active: false };\nreturn [{ json: { apiWorkflow } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [460, 300],
      "id": "workflow-builder-main",
      "name": "WORKFLOW BUILDER"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://127.0.0.1:5678/api/v1/workflows",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-N8N-API-KEY",
              "value": "={{$env.N8N_API_KEY}}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json.apiWorkflow) }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [680, 300],
      "id": "n8n-api-create",
      "name": "n8n API - Create Workflow"
    },
    {
      "parameters": {
        "jsCode": "const item = $input.first().json;\nconst data = item.data || item;\n\nif (!data || !data.id) {\n  return [{ json: { ok: false, error: item.message || 'Workflow oluşturulamadı', raw: item } }];\n}\n\nreturn [{ json: { ok: true, workflowId: data.id, name: data.name, reply: `✅ Workflow oluşturuldu: ${data.name}\\nID: ${data.id}` } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [900, 300],
      "id": "response-builder",
      "name": "Response Builder"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": { "responseCode": 200 }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [1120, 300],
      "id": "webhook-response",
      "name": "Respond to Webhook"
    }
  ],
  "pinData": {},
  "connections": {
    "TOOL_create_n8n_flow": {
      "main": [[{ "node": "WORKFLOW BUILDER", "type": "main", "index": 0 }]]
    },
    "WORKFLOW BUILDER": {
      "main": [[{ "node": "n8n API - Create Workflow", "type": "main", "index": 0 }]]
    },
    "n8n API - Create Workflow": {
      "main": [[{ "node": "Response Builder", "type": "main", "index": 0 }]]
    },
    "Response Builder": {
      "main": [[{ "node": "Respond to Webhook", "type": "main", "index": 0 }]]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "timezone": "Europe/Istanbul",
    "callerPolicy": "workflowsFromSameOwner"
  },
  "versionId": "workflow-builder-v3-youtube",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "b3095fc29cb871b1a1fa62649bfd13016a8a983bdcd4a1523275b8f83ce36cce"
  },
  "id": "0OvLyVNV4rEQp2qz",
  "tags": []
}
