n8n_İş_Akışları/Nano Banana Pro Reklam (Gsheet).json
{
  "name": "Nano Banana Pro Reklam",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -1776,
        208
      ],
      "id": "d3e6cb55-ac9b-4775-b4cb-996ae71b9c07",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://queue.fal.run/fal-ai/nano-banana-pro",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "API ANAHTARINIZ"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "prompt",
              "value": "={{ $json.content[0].text }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -448,
        64
      ],
      "id": "a251d5f4-0d7e-4e00-bb2b-f58c5e80ed2d",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "url": "=https://queue.fal.run/fal-ai/nano-banana-pro/requests/{{ $json.request_id }}/status",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "API ANAHTARINIZ"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -224,
        64
      ],
      "id": "d94a1c65-9821-4f56-b5fd-57fbe6f3c1b1",
      "name": "HTTP Request1"
    },
    {
      "parameters": {
        "amount": 10
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        0,
        0
      ],
      "id": "98f2bbed-d25e-45b1-b5ab-a17fb6b4ea01",
      "name": "Wait",
      "webhookId": "33fc61b2-f112-4802-8959-c3d3224c01cd"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "6f1ecef8-8d69-4d59-b806-483e4468db17",
              "leftValue": "={{ $('HTTP Request1').item.json.status }}",
              "rightValue": "=COMPLETED",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        224,
        64
      ],
      "id": "310b0633-2c7d-49d6-9a78-e8175c84b60a",
      "name": "If"
    },
    {
      "parameters": {
        "url": "=https://queue.fal.run/fal-ai/nano-banana-pro/requests/{{ $json.request_id }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "API ANAHTARINIZ"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        448,
        64
      ],
      "id": "19e21f42-f8a9-4b50-8d3f-d6a15b2a901a",
      "name": "HTTP Request2"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "claude-sonnet-4-5-20250929",
          "mode": "list",
          "cachedResultName": "claude-sonnet-4-5-20250929"
        },
        "messages": {
          "values": [
            {
              "content": "=You are an expert creative director specializing in hyper-realistic viral marketing visuals for HeyCalli, Turkey's leading AI voice assistant platform. Your goal is to create images so realistic that viewers question whether they are real photographs.\n\n## BRAND IDENTITY\n\n**Brand Name:** HeyCalli\n**Industry:** AI Voice Assistant Technology\n**Visual Identity:**\n- Primary Color: Deep navy blue (#0A1628 to #1A2744)\n- Accent Colors: Neon cyan (#00FFFF), electric blue (#0066FF)\n- Signature Element: Sound waves emanating from logo\n\n**CRITICAL RULES:**\n1. All visible text MUST be in Turkish only\n2. Image MUST look like a real photograph, NOT AI-generated\n3. Brand integration must look physically plausible and professionally installed\n\n---\n\n## LOCATION SELECTION\n\nRandomly select ONE location from this list for each generation:\n\n1. Times Square, New York - LED billboards\n2. Hollywood Sign, Los Angeles - letter replacement\n3. Piccadilly Circus, London - curved digital screen\n4. Shibuya Crossing, Tokyo - building screens\n5. Burj Khalifa, Dubai - LED facade projection\n6. Las Vegas Strip - casino marquee signs\n7. Shanghai Pudong skyline - building tops\n8. Alexanderplatz, Berlin - TV Tower base screens\n9. Federation Square, Melbourne - big screen\n10. Gangnam District, Seoul - digital billboards\n11. Marina Bay Sands, Singapore - rooftop projection\n12. Christ the Redeemer, Rio - drone light show behind\n13. Colosseum, Rome - temporary event screen\n14. Sydney Opera House - projection mapping\n15. Grand Central Terminal, NYC - main hall banner\n\n---\n\n## PHOTOREALISM REQUIREMENTS (CRITICAL)\n\n### Camera & Technical Specs\n- Shot on: Sony A7R IV or Canon EOS R5\n- Lens: Canon RF 24-70mm f/2.8 or Sony FE 24mm f/1.4 GM\n- Settings: f/2.8-f/8, ISO 400-1600 for night, proper motion blur on moving objects\n- Format: RAW processed, natural color grading\n\n### Mandatory Realism Elements\n- Lens imperfections: subtle chromatic aberration on edges, minor lens flare from bright lights\n- Atmospheric effects: natural air pollution haze, realistic fog density\n- Light behavior: proper light falloff, accurate reflections on wet/glass surfaces, realistic shadow casting\n- Motion: natural motion blur on cars/people, static sharpness on buildings\n- Noise: appropriate sensor noise for ISO level, especially in shadow areas\n- Focus: realistic depth of field with proper bokeh on out-of-focus areas\n\n### Physical Plausibility\n- Billboards/screens must match EXISTING infrastructure at the location\n- Lighting on brand elements must match ambient environment lighting\n- Reflections must be physically accurate\n- Scale must be proportional to real-world dimensions\n- Installation must look professionally done, not photoshopped\n\n### What to AVOID (Negative Prompts)\n- Overly saturated colors\n- Perfect symmetry\n- Unnaturally clean surfaces\n- Plastic/smooth skin on people\n- Impossible lighting angles\n- Text that looks digitally added\n- Overly sharp everything (real photos have focus falloff)\n- Cartoon-like glow effects\n- Multiple light sources casting shadows in wrong directions\n\n---\n\n## TURKISH TEXT ELEMENTS\n\nUse only these phrases (select 2-3 maximum, less is more realistic):\n- \"HeyCalli\" (primary logo)\n- \"Geleceğin Sesi\"\n- \"Yapay Zeka Sesli Asistan\"\n- \"Türkiye'nin Sesi\"\n- \"7/24 Yanınızda\"\n\nText must appear as if physically printed/displayed on real LED screens or billboards, with:\n- Proper pixel grid visible on close LED screens\n- Realistic LED glow and bloom\n- Appropriate viewing angle distortion\n- Natural brightness levels (not glowing unnaturally)\n\n---\n\n## PROMPT OUTPUT FORMAT\n\n**[RANDOMLY SELECTED LOCATION] - HeyCalli**\n\n[Generate a single detailed paragraph, 200-300 words, written as if describing a real photograph for a photography competition. Include specific camera settings, time of day, weather conditions, and exact description of how the branding appears on existing real-world advertising infrastructure at that location.]\n\nStyle keywords to append: photojournalism, editorial photography, National Geographic quality, Reuters photo, award-winning urban photography, 35mm film aesthetic, documentary style, Steve McCurry lighting, natural imperfections, authentic moment captured\n\n**Negative prompt:** digital art, CGI, 3D render, illustration, painting, cartoon, anime, oversaturated, HDR overprocessed, plastic skin, perfect symmetry, stock photo, AI generated, midjourney style, unreal engine, octane render, concept art, fantasy, impossible architecture, glowing edges, neon outline on objects, text floating in air, hologram unless on real hologram display\n\n**Technical metadata:**\n- Camera: [Specific model]\n- Lens: [Specific lens]\n- Settings: [Aperture, ISO, Shutter]\n- Time: [Exact time like \"9:47 PM\"]\n- Weather: [Specific conditions]\n\n**Social Media Caption (Turkish):**\n[Natural, not overly promotional, as if sharing a travel photo]\n\n**Hashtags:**\n[Mix focused on travel/city photography + subtle brand tags]\n\n---\n\n## EXAMPLE OUTPUT\n\n**SHIBUYA CROSSING, TOKYO - HeyCalli**\n\nEditorial photograph captured at Shibuya Crossing during evening rush hour at 7:23 PM, shot on Sony A7R IV with Sony FE 24mm f/1.4 GM lens at f/2.0, ISO 800, 1/60s shutter speed creating natural motion blur on the flowing crowd. Light rain has just stopped, leaving the iconic crossing wet and reflective, multiplying the neon lights across the asphalt. The massive 109 Men's building screen displays the HeyCalli logo in clean white typography against deep navy, with the tagline \"Geleceğin Sesi\" beneath it, appearing as a normal Japanese advertising rotation. The Tsutaya Starbucks corner screen shows \"Yapay Zeka Sesli Asistan\" integrated naturally among other tech advertisements. Pedestrians with umbrellas cross in organized chaos, some glancing at phones, others mid-conversation, a businessman's coat slightly motion-blurred as he rushes past frame left. The Shibuya 109 cylinder building glows in the background with its recognizable red logo. Atmospheric Tokyo haze softens distant buildings. Natural lens flare catches from the Q-Front building lights. A convenience store's fluorescent interior spills warm light onto the wet sidewalk at frame edge. Realistic chromatic aberration visible on high-contrast edges. The scene captures authentic Tokyo energy with the HeyCalli brand integration appearing as unremarkable as any other advertisement in this visual cacophony.\n\n**Negative prompt:** digital art, CGI, 3D render, illustration, painting, cartoon, anime, oversaturated, HDR overprocessed, plastic skin, perfect symmetry, stock photo, AI generated, midjourney style, unreal engine, octane render, concept art, fantasy, impossible architecture, glowing edges, neon outline on objects, text floating in air, hologram, unnaturally clean streets, empty crossing, perfect weather, theatrical lighting\n\n**Technical metadata:**\n- Camera: Sony A7R IV\n- Lens: Sony FE 24mm f/1.4 GM\n- Settings: f/2.0, ISO 800, 1/60s\n- Time: 7:23 PM JST\n- Weather: Post-rain, humid, light haze\n\n**Social Media Caption (Turkish):**\nTokyo'da sıradan bir akşam... Shibuya'nın kalabalığında tanıdık bir yüz 🇯🇵 Dünya küçük değil mi?\n\n**Hashtags:**\n#Tokyo #Shibuya #StreetPhotography #JapanNights #TokyoNights #UrbanPhotography #HeyCalli #CityLights #TravelJapan #NightPhotography\n\n---\n\nNow randomly select a location and generate the photorealistic prompt."
            },
            {
              "content": "=Lokasyon: {{ $json.Lokasyon }}"
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.anthropic",
      "typeVersion": 1,
      "position": [
        -800,
        48
      ],
      "id": "0901e05c-a3da-447e-9097-8691f8f62989",
      "name": "Message a model",
      "credentials": {
        "anthropicApi": {
          "id": "MZ4EHzZGApmCqPzS",
          "name": "Anthropic account"
        }
      }
    },
    {
      "parameters": {
        "url": "={{ $json.images[0].url }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        672,
        16
      ],
      "id": "d5e9c169-ee50-4739-8185-f28044d70fd4",
      "name": "HTTP Request3"
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "19LNck6HpztDgvakNcr76EukhmNHp-cMN1SQKBDppVvI",
          "mode": "list",
          "cachedResultName": "EGITIM",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/19LNck6HpztDgvakNcr76EukhmNHp-cMN1SQKBDppVvI/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 914565921,
          "mode": "list",
          "cachedResultName": "Sheet3",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/19LNck6HpztDgvakNcr76EukhmNHp-cMN1SQKBDppVvI/edit#gid=914565921"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Görsel": "={{ $json.images[0].url }}",
            "Prompt 1": "={{ $('Message a model').item.json.content[0].text }}",
            "Statu": "1",
            "Lokasyon": "={{ $('Şehir Bilgisi').item.json.Lokasyon }}"
          },
          "matchingColumns": [
            "Lokasyon"
          ],
          "schema": [
            {
              "id": "Görsel",
              "displayName": "Görsel",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Prompt 1",
              "displayName": "Prompt 1",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Statu",
              "displayName": "Statu",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Lokasyon",
              "displayName": "Lokasyon",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        672,
        256
      ],
      "id": "fb5151bf-8f58-41c0-94f0-3acb3e7b5a7e",
      "name": "Append or update row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "SZwvkzlmHIj2yxoG",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -1024,
        144
      ],
      "id": "4776e5f0-6ced-4e5d-8b24-3cff9f5f78e9",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "resume": "webhook",
        "options": {}
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        -1280,
        112
      ],
      "id": "70b13d58-2425-4b88-9ab4-1a405baa50d4",
      "name": "Wait1",
      "webhookId": "3deb91b2-e409-4121-8a83-b584c98a2d63"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "19LNck6HpztDgvakNcr76EukhmNHp-cMN1SQKBDppVvI",
          "mode": "list",
          "cachedResultName": "EGITIM",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/19LNck6HpztDgvakNcr76EukhmNHp-cMN1SQKBDppVvI/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 914565921,
          "mode": "list",
          "cachedResultName": "Sheet3",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/19LNck6HpztDgvakNcr76EukhmNHp-cMN1SQKBDppVvI/edit#gid=914565921"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "Statu",
              "lookupValue": "=0"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -1568,
        48
      ],
      "id": "d254fdb2-9ad1-49cf-8f14-216fa87a0b62",
      "name": "Şehir Bilgisi",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "SZwvkzlmHIj2yxoG",
          "name": "Google Sheets account"
        }
      }
    }
  ],
  "pinData": {
    "When clicking ‘Execute workflow’": [
      {
        "json": {}
      }
    ]
  },
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Şehir Bilgisi",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request1": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "HTTP Request2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request2": {
      "main": [
        [
          {
            "node": "HTTP Request3",
            "type": "main",
            "index": 0
          },
          {
            "node": "Append or update row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Message a model": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append or update row in sheet": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "Message a model",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait1": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Şehir Bilgisi": {
      "main": [
        [
          {
            "node": "Wait1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "d1a096cd-eb75-46eb-bf4a-95b2de01485a",
  "meta": {
    "instanceId": "f73f237186f1e65ab60412299716af11ea7dd6f45e4b6f56963001e3dcdba8ed"
  },
  "id": "Y65gDu8uj165L1P7",
  "tags": []
}